<div class="content-wrapper container-xxl p-0 d-flex justify-content-center">
  <div class="content-body w-100 d-flex flex-column align-items-center">
    <div class="row justify-content-center w-100" *ngIf="isComite">
      <div class="row justify-content-center align-items-start w-100 gap-3 mb-0">
        <div class="col-lg-5 col-md-6 col-sm-10 col-12">
          <div class="card card-statistics">
            <div class="card-header text-center">
              <h4 class="card-title text-primary">Gráfica</h4>
              <p class="card-text font-small-2 mb-0">% de Denuncias por estatus</p>
            </div>
            <div class="card-body statistics-body">
              <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [labels]="chartOptions.labels"
                [responsive]="chartOptions.responsive"
                [legend]="chartOptions.legend"
                [title]="chartOptions.title"
                [dataLabels]="chartOptions.dataLabels"
                [fill]="chartOptions.fill.colors"
                
              ></apx-chart>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="card">
            <div class="card-header text-center">
              <h4 class="card-title text-primary">Estadísticas</h4>
              <p class="card-text font-small-2 mb-0">Denuncias por estatus</p>
            </div> 
            <div class="card-body mt-3">
              <div class="row text-center">
                <div class="col-3" *ngIf="data?.count && data?.status">
                  <h4 class="font-weight-bolder mb-0">{{ data.count[2] }}</h4>
                  <p class="card-text font-small-3 mb-0">{{ data.status[2] }}</p>
                </div>
                <div class="col-3" *ngIf="data?.count && data?.status">
                  <h4 class="font-weight-bolder mb-0">{{ data.count[1] }}</h4>
                  <p class="card-text font-small-3 mb-0">{{ data.status[1] }}</p>
                </div>
                <div class="col-3" *ngIf="data?.count && data?.status">
                  <h4 class="font-weight-bolder mb-0">{{ data.count[0] }}</h4>
                  <p class="card-text font-small-3 mb-0">{{ data.status[0] }}</p>
                </div>
                <div class="col-3" *ngIf="data?.count && data?.status">
                  <h4 class="font-weight-bolder mb-0">{{ data.count[3] }}</h4>
                  <p class="card-text font-small-3 mb-0">{{ data.status[3] }}</p>
                </div>
              </div>
              <div class="text-center mt-4 mb-0">
                <strong>Total: {{ data?.total }}</strong>
              </div>
              <br>
              <div class="d-flex justify-content-center mt-1 mb-5">
                <button class="btn btn-primary" (click)="downloadExcel()">Descargar estadísticas</button>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
