<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <div class="row match-height" *ngIf="isComite || isCapturista">
 
        <div class="row match-height" *ngIf="isComite">
          <div class="col-lg-6 col-12">
            <div class="card card-statistics">
              <div class="card-header">
                <h4 class="card-title text-primary">Estadísticas</h4>
                <div class="d-flex align-items-center">
                  <p class="card-text font-small-2 mr-25 mb-0">Denuncias por estatus</p>
                </div>
              </div>
              <div class="card-body statistics-body">
                <div class="row">
                  <div class="col-12 mb-3">
                    <div class="media">
                      <div class="avatar bg-light-primary mr-2">
                        <div class="avatar-content"></div>
                      </div>
                      <div class="media-body my-auto">
                        <h4 class="font-weight-bolder mb-0">{{ data?.statistics?.analyticsData?.sales || 0 }}</h4>
                        <p class="card-text font-small-3 mb-0">En proceso</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mb-3">
                    <div class="media">
                      <div class="avatar bg-light-info mr-2">
                        <div class="avatar-content"></div>
                      </div>
                      <div class="media-body my-auto">
                        <h4 class="font-weight-bolder mb-0">{{ data?.statistics?.analyticsData?.customers || 0 }}</h4>
                        <p class="card-text font-small-3 mb-0">Cerradas</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mb-3">
                    <div class="media">
                      <div class="avatar bg-light-danger mr-2">
                        <div class="avatar-content"></div>
                      </div>
                      <div class="media-body my-auto">
                        <h4 class="font-weight-bolder mb-0">{{ data?.statistics?.analyticsData?.revenue || 0 }}</h4>
                        <p class="card-text font-small-3 mb-0">Abiertas</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center mt-0">
                  <button class="btn btn-primary">Descargar estadísticas</button>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-6 col-12">
            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title text-primary">Porcentaje de soluciones resueltas</h4>
                <i data-feather="help-circle" class="font-medium-3 text-muted cursor-pointer"></i>
              </div>
              <div class="card-body p-0">
                <div id="goalChartoptions" class="mb-1 mt-1 pt-1" #goalChartRef>
                  <apx-chart
                    [chart]="goalChartoptions.chart"
                    [colors]="goalChartoptions.colors"
                    [plotOptions]="goalChartoptions.plotOptions"
                    [fill]="goalChartoptions.fill"
                    [series]="data?.goalOverview?.series || []"
                    [stroke]="goalChartoptions.stroke"
                    [grid]="goalChartoptions.grid"
                  ></apx-chart>
                </div>
                <div class="row border-top text-center mx-0">
                  <div class="col-6 border-right py-1">
                    <p class="card-text text-muted mb-0">Cerradas</p>
                    <h3 class="font-weight-bolder mb-0">{{ data?.goalOverview?.analyticsData?.completed || 0 }}</h3>
                  </div>
                  <div class="col-6 py-1">
                    <p class="card-text text-muted mb-0">En proceso</p>
                    <h3 class="font-weight-bolder mb-0">{{ data?.goalOverview?.analyticsData?.inProgress || 0 }}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>