<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <section id="faq-search-filter">
        <div class="card faq-search" style="position: relative; height: 20vh; background-image: url('assets/images/banner/banner.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
          <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.7);"></div>
        </div>
        <h3 class="text-primary">Preguntas Frecuentes</h3> <br>
      </section>
  

      <section id="faq">
        <div class="row nav-vertical d-flex">
          <div class="col-sm-12">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span class="lead collapse-title"> ¿Qué es la NOM-035 y por qué es importante? </span>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-justify">
                    La NOM-035 es una norma oficial mexicana que tiene como objetivo identificar, analizar y prevenir factores de riesgo psicosocial en el trabajo, así como promover un entorno organizacional favorable. Es importante porque busca mejorar la salud mental y el bienestar de los trabajadores, reduciendo el estrés laboral y previniendo problemas como el burnout.
                  </p>
                </ng-template>
              </ngb-panel>
  
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span class="lead collapse-title"> ¿Quién puede hacer una denuncia en esta plataforma? </span>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-justify">
                    Cualquier empleado, colaborador o persona que tenga conocimiento de situaciones que infrinjan la NOM-035 puede hacer una denuncia en esta plataforma. No es necesario revelar tu identidad si optas por hacer una denuncia anónima.
                  </p>
                </ng-template>
              </ngb-panel>
  
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span class="lead collapse-title">¿Cómo puedo hacer una denuncia anónima? </span>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-justify">
                    Para hacer una denuncia anónima, simplemente no proporciones información personal que pueda identificarte en el formulario de denuncia. Nuestra plataforma está diseñada para proteger tu identidad y garantizar la confidencialidad de tus datos.
                  </p>
                </ng-template>
              </ngb-panel>
  
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span class="lead collapse-title"> ¿Qué tipo de situaciones o problemas puedo denunciar aquí? </span>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-justify">
                    Puedes denunciar cualquier situación que afecte tu salud mental y bienestar en el trabajo, como el exceso de carga laboral, acoso laboral, falta de reconocimiento, condiciones de trabajo inadecuadas, entre otros factores de riesgo psicosocial identificados por la NOM-035.
                  </p>
                </ng-template>
              </ngb-panel>
  
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span class="lead collapse-title"> ¿Cómo se garantiza la confidencialidad de mi denuncia? </span>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-justify">
                    Tu denuncia es tratada con la máxima confidencialidad. Solo el personal autorizado tendrá acceso a la información, y se implementan medidas de seguridad para proteger tus datos personales y garantizar que tu identidad no sea revelada, especialmente si optas por hacer una denuncia anónima.
                  </p>
                </ng-template>
              </ngb-panel>
  
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span class="lead collapse-title"> ¿Qué pasa después de que hago una denuncia? </span>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-justify">
                    Una vez que envías tu denuncia, esta es revisada por el comité respectivo de la NOM-035 en tu empresa. Se tomará acción para investigar y resolver la situación denunciada, garantizando que se cumplan las normativas y se mejore el ambiente laboral.
                  </p>
                </ng-template>
              </ngb-panel>
  
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span class="lead collapse-title"> ¿Puedo dar seguimiento a mi denuncia? ¿Cómo? </span>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-justify">
                    Sí, puedes dar seguimiento a tu denuncia iniciando sesión en tu cuenta en nuestra plataforma. Allí podrás ver el estado de tu denuncia y recibir actualizaciones sobre las acciones tomadas para resolverla.
                  </p>
                </ng-template>
              </ngb-panel>
  
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span class="lead collapse-title">¿Qué información necesito proporcionar al hacer una denuncia? </span>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-justify">
                    Es recomendable proporcionar detalles específicos sobre la situación que deseas denunciar, incluyendo fechas, lugares, personas involucradas y cualquier evidencia que respalde tu denuncia. Sin embargo, si optas por la denuncia anónima, evita incluir información personal que pueda identificarte.
                  </p>
                </ng-template>
              </ngb-panel>
  
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span class="lead collapse-title">¿Puedo adjuntar evidencias a mi denuncia? ¿Qué tipos de archivos se aceptan?</span>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-justify">
                    Sí, puedes adjuntar evidencias a tu denuncia. Se aceptan formatos de archivo comunes como PDF, JPEG, PNG, DOCX, entre otros. Asegúrate de que los archivos no excedan el tamaño máximo permitido por la plataforma.
                  </p>
                </ng-template>
              </ngb-panel>
  
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span class="lead collapse-title">¿Cómo sé si mi empresa está cumpliendo con la NOM-035?</span>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-justify">
                    La plataforma permite realizar denuncias que ayudan a las empresas a identificar áreas de mejora en el cumplimiento de la NOM-035. Además, se realizan auditorías internas y se fomenta la cultura de prevención y bienestar laboral para asegurar el cumplimiento continuo de la normativa.
                  </p>
                </ng-template>
              </ngb-panel>
  
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span class="lead collapse-title">¿Pueden tomar represalias contra mí por hacer una denuncia?</span>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-justify">
                    No, tu empresa está obligada a protegerte contra cualquier tipo de represalia por hacer una denuncia. La confidencialidad y el anonimato son pilares fundamentales para garantizar que puedas expresar tus preocupaciones sin temor a consecuencias negativas.
                  </p>
                </ng-template>
              </ngb-panel>
  
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span class="lead collapse-title">¿Qué debo hacer si experimento problemas técnicos al usar la plataforma?</span>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-justify">
                    Si experimentas problemas técnicos al usar la plataforma, podrás llamar al número de atención al cliente proporcionado en la página, nuestro equipo lo reparará tan pronto como sea posible.
                  </p>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </section>
  
      <section class="faq-contact">
        <div class="row mt-5 pt-75">
          <div class="col-12 text-center">
            <h2>¿Aún tienes dudas?</h2>
            <p class="mb-3">
              Si no encuentras tu pregunta en nuestra sección de preguntas frecuentes, siempre puedes ponerte en contacto con nosotros. ¡Te responderemos en breve!
            </p>
          </div>
          <div class="col-sm-6">
            <div class="card text-center faq-contact-card shadow-none py-1">
              <div class="card-body">
                <div class="avatar avatar-tag bg-light-primary mb-2 mx-auto">
                  <i data-feather="phone-call" class="font-medium-3"></i>
                </div>
                <h5>33-3767-4400</h5>
                <span class="text-body">Línea telefónica</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card text-center faq-contact-card shadow-none py-1">
              <div class="card-body">
                <div class="avatar avatar-tag bg-light-primary mb-2 mx-auto">
                  <i data-feather="mail" class="font-medium-3"></i>
                </div>
                <h5>denuncia_anonima@denunciaprotegida.com.mx</h5>
                <span class="text-body">Realiza tus solicitudes por este medio también</span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  