<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- Vertical Wizard -->
     <section class="vertical-wizard">
      <h3 class="card-title text-primary">Crea tu denuncia</h3>
      <p><strong>Para poder proceder con su solicitud por favor complete el siguiente formulario.</strong></p>
      <div id="stepper2" class="bs-stepper vertical vertical-wizard-example">
        <div class="bs-stepper-header">
          <!--Medio-->
          <div *ngIf="isClient" class="step"  data-target="#account-details-vertical">
            <button type="button" class="step-trigger">
              <span class="bs-stepper-box">0</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Medio</span>
                <span class="bs-stepper-subtitle">Añada el medio de la denuncia.</span>
              </span>
            </button>
          </div>
          <!-- Motivo -->
          <div class="step" data-target="#personal-info-vertical">
            <button type="button" class="step-trigger">
              <span class="bs-stepper-box">1</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Motivo</span>
                <span class="bs-stepper-subtitle">Motivo de la denuncia.</span>
              </span>
            </button>
          </div>
          <div class="step" data-target="#address-step-vertical">
            <button type="button" class="step-trigger">
              <span class="bs-stepper-box">2</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Ubicación</span>
                <span class="bs-stepper-subtitle">Añada la ubicación</span>
              </span>
            </button>
          </div>
          <div class="step" data-target="#social-links-vertical">
            <button type="button" class="step-trigger">
              <span class="bs-stepper-box">3</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Detalles</span>
                <span class="bs-stepper-subtitle">Detalles de la denuncia.</span>
              </span>
            </button>
          </div>
          <div class="step" data-target="#section_involved">
            <button type="button" class="step-trigger">
              <span class="bs-stepper-box">4</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Involucrados</span>
                <span class="bs-stepper-subtitle">Introduzca involucrados y testigos.</span>
              </span>
            </button>
          </div>
          <div class="step" data-target="#section_anonimo">
            <button type="button" class="step-trigger">
              <span class="bs-stepper-box">5</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Privacidad</span>
                <span class="bs-stepper-subtitle">Información adicional.</span>
              </span>
            </button>
          </div>
        </div>
        <div class="bs-stepper-content">
<!--************************** Div medio ***********************************************************-->
          <div *ngIf="isClient && isLoggedIn" id="account-details-vertical" class="content">
            <div class="content-header">
              <h5 class="mb-0">Medio</h5>
              <small class="text-muted">Añada el medio por el cual está realizando la denuncia. </small>
            </div>
            <div class="row">
              <div class="form-group col-md-10">
                <div class="row">
                  <div class="form-group col-md-12">
                    <label class="form-label" for="language">Seleccione el medio por el cual se está realizando la denuncia.</label>
                    <ng-select
                      [items]="selectBasic"
                      [multiple]="false"
                      [closeOnSelect]="false"
                      [searchable]="false"
                      bindLabel="name"
                      name="medio"
                      placeholder="Seleccione un medio"
                      [(ngModel)]="selectMultiSelected"
                      required
                    >
                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label">{{item.name}}</span>
                        
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
            </div><br>

            <div class="d-flex justify-content-between">
              <button class="btn btn-outline-secondary btn-prev" disabled rippleEffect>
                <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                <span class="align-middle d-sm-inline-block d-none">Anterior</span>
              </button>
              <button class="btn btn-primary btn-next" (click)="verticalWizardNext()" rippleEffect>
                <span class="align-middle d-sm-inline-block d-none">Siguiente</span>
                <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
              </button>
            </div>
          </div>
<!--************************** Div motivo ***********************************************************-->
          <div id="personal-info-vertical" class="content">
            <div class="content-header">
              <h5 class="mb-0">Motivo</h5>
              <small>Seleccione el motivo.</small><br>
              <small><br><strong>¿Qué desea denunciar?</strong> </small>
            </div>
            <div class="row">
              
              <p class="form-label" for="vertical-country"></p>
              <div class="form-group col-md-12">
                <ng-select
                  [items]="selectMulti"
                  [multiple]="false"
                  [closeOnSelect]="true"
                  [searchable]="false"
                  bindLabel="name"
                  [clearable]="false"
                  name="selectLanguage"
                  placeholder="Seleccione el motivo"
                  [(ngModel)]="selectMultiSelected"
                  required
                >
                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                    <span class="ng-value-label"> {{ item.name }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div class="d-flex justify-content-between bottom:0">
              <button class="btn btn-primary btn-prev" (click)="verticalWizardPrevious()" rippleEffect>
                <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                <span class="align-middle d-sm-inline-block d-none">Anterior</span>
              </button>
              <button class="btn btn-primary btn-next" (click)="verticalWizardNext()" rippleEffect>
                <span class="align-middle d-sm-inline-block d-none">Siguiente</span>
                <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
              </button>
            </div>
          </div>
<!--************************** Div Ubicacion ***********************************************************-->
          <div class="content" id="address-step-vertical">
            <div class="content-header">
              <h5 class="mb-0">Ubicación</h5>
              <small>Añada la ubicación.</small>
            </div>

            <div class="section" id="sectionUbicacion" data-previous="sectionTipoDenuncia">
              <p><strong>Selecciona la ubicación:</strong></p>

              <!-- Opciones de radio -->
              <div class="form-group">
                <label>
                  <input
                    type="radio"
                    name="ubicacion"
                    value="corporativo"
                    (change)="onUbicacionChange('corporativo')"
                  />
                  Corporativo
                </label><br />
                <label>
                  <input
                    type="radio"
                    name="ubicacion"
                    value="cedis"
                    (change)="onUbicacionChange('cedis')"
                    
                  />
                  Cedis
                </label><br />
                <label>
                  <input
                    type="radio"
                    name="ubicacion"
                    value="sucursales"
                    (change)="onUbicacionChange('sucursales')"
                  />
                  Sucursales
                </label><br />
                <label>
                  <input
                    type="radio"
                    name="ubicacion"
                    value="navesAnexas"
                    (change)="onUbicacionChange('navesAnexas')"
                  />
                  Naves y anexas filiales
                </label><br />
                <label>
                  <input
                    type="radio"
                    name="ubicacion"
                    value="innomex"
                    (change)="onUbicacionChange('innomex')"
                  />
                  Innomex
                </label><br />
                <label>
                  <input
                    type="radio"
                    name="ubicacion"
                    value="trate"
                    (change)="onUbicacionChange('trate')"
                  />
                  TRATE
                </label><br />
                <label>
                  <input
                    type="radio"
                    name="ubicacion"
                    value="unidadTransporte"
                    (change)="onUbicacionChange('unidadTransporte')"
                  />
                  Unidad transporte
                </label><br />
              </div>

              <!-- Contenedor dinámico -->
              <div id="ubicacionContainer" *ngIf="showListbox || showInputBox" class="mt-3">
                <!-- Etiqueta dinámica -->
                <label *ngIf="dynamicLabel">{{ dynamicLabel }}</label>

                <!-- Listbox -->
                <select
                  id="ubicacionListbox"
                  class="form-control"
                  *ngIf="showListbox"
                  required
                >
                  <option value="" disabled selected>Seleccione una opción</option>
                  <option *ngFor="let option of listboxOptions" [value]="option">{{ option }}</option>
                </select>

                <!-- Input Box -->
                <input
                  *ngIf="showInputBox"
                  type="text"
                  id="customInput"
                  class="form-control mt-2"
                  [placeholder]="dynamicLabel"
                  [(ngModel)]="customInputValue"
                  required
                />
              </div>
            </div>
          </div>
<!--************************** Div Detalles***********************************************************-->
          <div id="social-links-vertical" class="content">
            <div class="content-header">
              <h5 class="mb-0">Detalles</h5>
              <small>Detalles de la denuncia.</small>
            </div>
            <div class="col-12">
              <p>Por favor seleccione alguna de las siguientes opciones:</p>
              <!-- Opciones de fecha -->
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="dateOptions"
                  id="specificDateOption"
                  value="date"
                  [(ngModel)]="datereport"
                />
                <label class="form-check-label" for="specificDateOption">Fecha específica</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="dateOptions"
                  id="approximateDateOption"
                  value="dateaprox"
                  [(ngModel)]="datereport"
                />
                <label class="form-check-label" for="approximateDateOption">Periodo aproximado</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="dateOptions"
                  id="noDateOption"
                  value="NA"
                  [(ngModel)]="datereport"
                />
                <label class="form-check-label" for="noDateOption">No cuento con fecha</label>
              </div>
            
              <!-- Fecha específica -->
              <div *ngIf="datereport === 'date'" class="form-group mt-3">
                <label for="specificDate">Seleccione la fecha específica:</label>
                <input
                  class="form-control"
                  type="date"
                  id="specificDate"
                  [(ngModel)]="specificDate"
                />
              </div>
            
              <!-- Periodo aproximado -->
              <div *ngIf="datereport === 'dateaprox'" class="form-group mt-3">
                <label for="approximateDatePeriod">Periodo aproximado:</label>
                <input
                  type="text"
                  id="approximateDatePeriod"
                  class="form-control"
                  placeholder="Ejemplo: Mayo-Junio 2023"
                  [(ngModel)]="approximateDatePeriod"
                />
              </div>
            </div>
            
            


            <!-- Descripción -->
            <div class="col-12 mt-3">
              <div class="form-group">
                <label for="incidentDescription">
                  Por favor, describe con detalle todo lo que recuerdes sobre el incidente. Intenta ser lo más específico
                  posible en cuanto a cómo, cuándo y dónde ocurrió.
                </label>
                <textarea
                  id="incidentDescription"
                  class="form-control"
                  name="description"
                  placeholder="Escriba aquí..."
                  [(ngModel)]="descriptionVar"
                ></textarea>
              </div>
            </div>

            <!-- Reportado previamente -->
            <div class="col-12">
              <p>¿Ha reportado este incidente previamente?</p>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="previousReportOptions"
                  id="previousReportYes"
                  value="si"
                  [(ngModel)]="previousReport"
                />
                <label class="form-check-label" for="previousReportYes">Sí</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="previousReportOptions"
                  id="previousReportNo"
                  value="no"
                  [(ngModel)]="previousReport"
                />
                <label class="form-check-label" for="previousReportNo">No</label>
              </div>
            </div>

            <!-- Detalles del reporte previo -->
            <div class="col-12" *ngIf="previousReport === 'si'">
              <div class="form-group">
                <label for="previousReportDetails">Por favor indique a quién lo reportó y cuál fue el resultado:</label>
                <textarea
                  id="previousReportDetails"
                  class="form-control"
                  name="descriptionDetails"
                  placeholder="Escriba aquí..."
                  [(ngModel)]="previousReportDetails"
                ></textarea>
              </div>
            </div>

            <!-- Subir archivo -->
            <div class="col-12">
              <p><strong>¿Cuentas con alguna evidencia? Sube tus archivos a continuación:</strong></p>
              <p>
                Te recomendamos subir los archivos más relevantes para poder ayudarte a solucionar tu caso. Límite: 5
                archivos o 10MB.
              </p>
              <div class="custom-file">
                <input
                  type="file"
                  class="custom-file-input"
                  id="file-upload-multiple"
                  (change)="onFileSelect($event)"
                  multiple
                />
                <label class="custom-file-label">Seleccionar archivo(s)</label>
              </div>
            </div>

            <!-- Navegación -->
            <div class="d-flex justify-content-between mt-3">
              <button class="btn btn-primary btn-prev" (click)="verticalWizardPrevious()" rippleEffect>
                <i class="feather icon-arrow-left align-middle mr-sm-25 mr-0"></i>
                <span class="align-middle d-sm-inline-block d-none">Anterior</span>
              </button>
              <button class="btn btn-primary btn-next" (click)="verticalWizardNext()" rippleEffect>
                <span class="align-middle d-sm-inline-block d-none">Siguiente</span>
                <i class="feather icon-arrow-right align-middle ml-sm-25 ml-0"></i>
              </button>
            </div>
          </div>
<!--************************** Div Involucrados ***********************************************************-->
          <div id="section_involved" class="content">
            <div class="content-header d-flex flex-column align-items-start">
              <div class="d-flex">
                <h5 class="mb-0 mr-3">Involucrados</h5>
                <button class="btn btn-sm btn-primary mr-2" (click)="addInvolved()">
                  <i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-sm btn-danger" [disabled]="involvedList.length <= 1" (click)="removeInvolved()">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
              <small class="mr-3"><br> Porfavor introduzca los datos de el(los) involucrado(s). Los campos puesto y número de empleado son completamente opcionales. </small>
            </div>
            <div *ngFor="let person of involvedList; let i = index" class="row">
              <div class="form-group col-md-4">
                <label class="form-label" for="name-{{ i }}">Nombre Completo:</label>
                <input
                  type="text"
                  id="name-{{ i }}"
                  class="form-control"
                  placeholder="Nombre(s) Apellido Paterno Apellido Materno"
                  [(ngModel)]="person.name"
                  required
                />
              </div>
              <div class="form-group col-md-4">
                <label class="form-label" for="position-{{ i }}">Puesto:</label>
                <input
                  type="text"
                  id="position-{{ i }}"
                  class="form-control"
                  placeholder="Ej. Operador"
                  [(ngModel)]="person.position"
                 
                />
              </div>
              <div class="form-group col-md-4">
                <label class="form-label" for="employeeNumber-{{ i }}">Número de empleado:</label>
                <input
                  type="text"
                  id="employeeNumber-{{ i }}"
                  class="form-control"
                  placeholder="112233"
                  [(ngModel)]="person.employeeNumber"
                  
                />
              </div>
            </div>
            <br />
            <div class="content-header d-flex flex-column align-items-start">
              <h5 class="mb-0">Testigos</h5><br>
              <div class="d-flex">
                <button class="btn btn-sm btn-primary mr-2" (click)="addWitness()">
                  <i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-sm btn-danger" (click)="removeWitness()">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div *ngFor="let witness of witnessList; let i = index" class="row">
              <div class="form-group col-md-4">
                <label class="form-label" for="witness-name-{{ i }}">Nombre Completo:</label>
                <input
                  type="text"
                  id="witness-name-{{ i }}"
                  class="form-control"
                  placeholder="Nombre(s) Apellido Paterno Apellido Materno"
                  [(ngModel)]="witness.name"
                />
                
              </div>
              <div class="form-group col-md-4">
                <label class="form-label" for="witness-contact-{{ i }}">Puesto:</label>
                <input
                  type="text"
                  id="witness-contact-{{ i }}"
                  class="form-control"
                  placeholder="Ej. Operador"
                  [(ngModel)]="witness.contact"
                />
              </div>
              <div class="form-group col-md-4">
                <label class="form-label" for="witness-contact-{{ i }}">Número de empleado:</label>
                <input
                  type="number"
                  id="witness-contact-{{ i }}"
                  class="form-control"
                  placeholder="445566"
                  [(ngModel)]="witness.contact"
                />
              </div>
            </div>
            <br />
            <div class="d-flex justify-content-between pb-1">
              <button class="btn btn-primary btn-prev" (click)="verticalWizardPrevious()" rippleEffect>
                <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                <span class="align-middle d-sm-inline-block d-none">Anterior</span>
              </button>
              <button class="btn btn-primary btn-next" (click)="verticalWizardNext()" rippleEffect>
                <span class="align-middle d-sm-inline-block d-none">Siguiente</span>
                <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
              </button>
            </div>
          </div>
<!--************************** Div Anonimo ***********************************************************-->
        <div id="section_anonimo" class="content">
          <div class="content-header">
            <h5 class="mb-0">Privacidad</h5>
            <small>¿Desea agregar su información?</small>
          </div>
          <input
            class="input"
            type="radio"
            id="radio-opc-no"
            name="anonimo"
            value="si"
            (change)="toggleAnonimato(true)"
            required
          />
          Si, deseo agregar mis datos.<br /><br />
          <input
            class="input"
            type="radio"
            id="radio-opc-si"
            name="anonimo"
            value="no"
            (change)="toggleAnonimato(false)"
            required
          />
          No<br /><br />
          <div *ngIf="showAdditionalInfo">
            <h5>Información Adicional </h5>
            <label style="font-size: small;">
              <strong style="color: red;">IMPORTANTE: </strong>Su informacion será únicamente solicitada para el
              seguimiento de su denuncia, será tratada con máxima confidencialidad.
            </label><br /><br />
            <div class="row">
              <div class="form-group col-md-4">
                <label class="form-label" for="vertical-address">Nombre Completo:</label>
                <input
                  type="text"
                  id="vertical-address"
                  class="form-control"
                  placeholder="Nombre(s) Apellido Paterno Apellido Materno"
                />
              </div>
              <div class="form-group col-md-4">
                <label class="form-label" for="vertical-landmark">Puesto:</label>
                <input type="text" id="vertical-landmark" class="form-control" placeholder="Operador" />
              </div>
              <div class="form-group col-md-4">
                <label class="form-label" for="pincode2">Número de empleado:</label>
                <input type="text" id="pincode2" class="form-control" placeholder="658921" />
              </div>
            </div>
            <br />
            <div class="row">
              <div class="form-group col-md-4">
                <label class="form-label" for="vertical-address">Teléfono:</label>
                <input
                  type="text"
                  id="vertical-address"
                  class="form-control"
                  placeholder="3334357534"
                />
              </div>
              <div class="form-group col-md-4">
                <label class="form-label" for="vertical-landmark">Email personal:</label>
                <input type="text" id="vertical-landmark" class="form-control" placeholder="ejemplo@mail.com" />
              </div>
            </div>
            <br />
          </div>
          <div class="d-flex justify-content-between pb-0">
            <button class="btn btn-primary btn-prev" (click)="verticalWizardPrevious()" rippleEffect>
              <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
              <span class="align-middle d-sm-inline-block d-none">Anterior</span>
            </button>

            <button class="btn btn-success btn-submit" rippleEffect (click)="onSubmit()">Enviar</button>
          </div>
        </div>
        </div>
      </div>
    </section> 
    <!-- /Vertical Wizard -->
  </div>
</div>
