<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- Vertical Wizard -->
    <section class="vertical-wizard">
      <h3 class="card-title text-primary">Crea tu denuncia</h3>
      <p><strong>Para poder proceder con su solicitud por favor complete el siguiente formulario.</strong></p>
      <div id="stepper2" class="bs-stepper vertical vertical-wizard-example">
        <div class="bs-stepper-header">
          <!-- Medio -->
          <div *ngif="isLoggedIn && isCapturista" class="step" data-target="#account-details-vertical" >
            <button type="button" class="step-trigger">
              <span class="bs-stepper-box">0</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Medio</span>
                <span class="bs-stepper-subtitle">Añada el medio de la denuncia.</span>
              </span>
            </button>
          </div>
          <!-- Motivo -->
          <div class="step" data-target="#personal-info-vertical">
            <button type="button" class="step-trigger">
              <span class="bs-stepper-box">1</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Motivo</span>
                <span class="bs-stepper-subtitle">Motivo de la denuncia.</span>
              </span>
            </button>
          </div>
          <!-- Ubicación -->
          <div class="step" data-target="#address-step-vertical">
            <button type="button" class="step-trigger">
              <span class="bs-stepper-box">2</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Ubicación</span>
                <span class="bs-stepper-subtitle">Añada la ubicación</span>
              </span>
            </button>
          </div>
          <!-- Detalles -->
          <div class="step" data-target="#social-links-vertical">
            <button type="button" class="step-trigger">
              <span class="bs-stepper-box">3</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Detalles</span>
                <span class="bs-stepper-subtitle">Detalles de la denuncia.</span>
              </span>
            </button>
          </div>
          <!-- Involucrados -->
          <div class="step" data-target="#section_involved">
            <button type="button" class="step-trigger">
              <span class="bs-stepper-box">4</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Involucrados</span>
                <span class="bs-stepper-subtitle">Introduzca involucrados y testigos.</span>
              </span>
            </button>
          </div>
          <!-- Privacidad -->
          <div class="step" data-target="#section_anonimo">
            <button type="button" class="step-trigger">
              <span class="bs-stepper-box">5</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Privacidad</span>
                <span class="bs-stepper-subtitle">Información adicional.</span>
              </span>
            </button>
          </div>
        </div>
        <div class="bs-stepper-content">
          <!-- Div Medio -->
          <div id="account-details-vertical" class="content">
            <form #form="ngForm">
              <div class="content-header">
                <h5 class="mb-0">Medio</h5>
                <small class="text-muted">Añada el medio por el cual está realizando la denuncia.</small>
                <span style="color: #F44336;">*</span>
              </div>
              <div class="row">
                <div class="form-group col-md-10">
                  <label class="form-label" for="medio">Seleccione el medio por el cual se está realizando la denuncia.</label>
                  <ng-select
                    [items]="selectBasic"
                    [multiple]="false"
                    [closeOnSelect]="true"
                    [searchable]="false"
                    bindLabel="name"
                    name="medio"
                    placeholder="Seleccione un medio"
                    [(ngModel)]="selectedMedio"
                    (change)="onMedioChange($event)"
                    [clearable]="false"
                    required
                  >
                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                      <span class="ng-value-label">{{ item.name }}</span>
                    </ng-template>
                  </ng-select>
                  <div *ngIf="showValidation && !selectedMedio" class="text-danger mt-1">
                    Debe seleccionar un medio.
                  </div>
                </div>
              </div>
              <!-- Campo dinámico basado en la selección -->
              <div *ngIf="selectedMedio === 'Teléfono'" class="form-group col-md-10 mt-2">
                <label class="form-label">Número de Teléfono <span style="color: #F44336;">*</span></label>
                <input
                  type="tel"
                  class="form-control"
                  placeholder="Ingrese su número de teléfono"
                  [(ngModel)]="telefono"
                  name="telefono"
                  pattern="[0-9]{10}"
                  maxlength="10"
                  required
                  #telefonoInput="ngModel"
                />
                <small class="text-muted">Ingrese un número de 10 dígitos.</small>
                <div *ngIf="telefonoInput.invalid && telefonoInput.touched" class="text-danger mt-1">
                  El número de teléfono es obligatorio y debe tener 10 dígitos.
                </div>
              </div>
              <div *ngIf="selectedMedio === 'Correo'" class="form-group col-md-10 mt-2">
                <label class="form-label">Correo Electrónico <span style="color: #F44336;">*</span></label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Ingrese su correo electrónico"
                  [(ngModel)]="email"
                  name="email"
                  required
                  #emailInput="ngModel"
                />
                <small class="text-muted">Ejemplo: usuario@correo.com</small>
                <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger mt-1">
                  El correo electrónico es obligatorio.
                </div>
              </div>
              <br />
              <div class="d-flex justify-content-between">
                <button class="btn btn-outline-secondary btn-prev" disabled>
                  <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                  <span class="align-middle d-sm-inline-block d-none">Anterior</span>
                </button>
                <button
                  class="btn btn-primary btn-next"
                  (click)="verticalWizardNext()"
                  [disabled]="!form.valid"
                >
                  <span class="align-middle d-sm-inline-block d-none">Siguiente</span>
                  <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                </button>
              </div>
            </form>
          </div>
          <!-- Div Motivo -->
          <div id="personal-info-vertical" class="content">
            <form #form="ngForm">
              <div class="content-header">
                <h5 class="mb-0">Motivo</h5>
                <small>Seleccione el motivo.</small><br>
                <small><br><strong>¿Qué desea denunciar?</strong> </small><span style="color: #F44336;">*</span>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="form-label" for="selectLanguage">Seleccione el motivo</label>
                  <ng-select
                    [items]="selectMulti"
                    [multiple]="false"
                    [closeOnSelect]="true"
                    [searchable]="false"
                    bindLabel="name"
                    [clearable]="false"
                    name="selectLanguage"
                    placeholder="Seleccione el motivo"
                    [(ngModel)]="selectMultiSelected"
                    required
                    #motivoInput="ngModel"
                  >
                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                      <span class="ng-value-label">{{ item.name }}</span>
                    </ng-template>
                  </ng-select>
                  <div *ngIf="motivoInput.invalid && motivoInput.touched" class="text-danger mt-1">
                    Debe seleccionar un motivo.
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <button class="btn btn-primary btn-prev" (click)="verticalWizardPrevious()" rippleEffect>
                  <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                  <span class="align-middle d-sm-inline-block d-none">Anterior</span>
                </button>
                <button
                  class="btn btn-primary btn-next"
                  (click)="verticalWizardNext()"
                  [disabled]="!form.valid"
                  rippleEffect
                >
                  <span class="align-middle d-sm-inline-block d-none">Siguiente</span>
                  <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                </button>
              </div>
            </form>
          </div>
          <!-- Div Ubicación -->
          <div class="content" id="address-step-vertical">
            <div class="content-header">
              <h5 class="mb-0">Ubicación</h5>
              <small>Añada la ubicación.</small>
            </div>
            <div class="section" id="sectionUbicacion" data-previous="sectionTipoDenuncia">
              <p><strong>Selecciona la ubicación:</strong><span style="color: #F44336;">*</span></p>
              <div class="form-group" aria-required="true">
                <label>
                  <input
                    type="radio"
                    name="ubicacion"
                    value="corporativo"
                    (change)="onUbicacionChange('corporativo')"
                    [(ngModel)]="selectedUbicacion"
                    required
                  />
                  Corporativo
                </label><br />
                <label>
                  <input
                    type="radio"
                    name="ubicacion"
                    value="cedis"
                    (change)="onUbicacionChange('cedis')"
                    [(ngModel)]="selectedUbicacion"
                    required
                  />
                  Cedis
                </label><br />
                <label>
                  <input
                    type="radio"
                    name="ubicacion"
                    value="sucursales"
                    (change)="onUbicacionChange('sucursales')"
                    [(ngModel)]="selectedUbicacion"
                    required
                  />
                  Sucursales
                </label><br />
                <label>
                  <input
                    type="radio"
                    name="ubicacion"
                    value="navesanexas"
                    (change)="onUbicacionChange('navesanexas')"
                    [(ngModel)]="selectedUbicacion"
                    required
                  />
                  Naves y anexas filiales
                </label><br />
                <label>
                  <input
                    type="radio"
                    name="ubicacion"
                    value="innomex"
                    (change)="onUbicacionChange('innomex')"
                    [(ngModel)]="selectedUbicacion"
                    required
                  />
                  Innomex
                </label><br />
                <label>
                  <input
                    type="radio"
                    name="ubicacion"
                    value="trate"
                    (change)="onUbicacionChange('trate')"
                    [(ngModel)]="selectedUbicacion"
                    required
                  />
                  TRATE
                </label><br />
                <label>
                  <input
                    type="radio"
                    name="ubicacion"
                    value="unidadtransporte"
                    (change)="onUbicacionChange('unidadtransporte')"
                    [(ngModel)]="selectedUbicacion"
                    required
                  />
                  Unidad transporte
                </label><br />
              </div>
              <div id="ubicacionContainer" *ngIf="selectedUbicacion" class="mt-3">
                <div *ngIf="showListbox">
                  <label>{{locationLabel}}</label>
                  <select
                    id="ubicacionListbox"
                    class="form-control"
                    [(ngModel)]="customInputValue"
                    required
                  >
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option *ngFor="let option of listboxOptions" [value]="option">{{ option }}</option>
                  </select>
                </div>
                <div *ngIf="showInputBox">
                  <label>{{locationLabel}}</label>
                  <input
                    type="text"
                    id="customInput"
                    class="form-control"
                    [(ngModel)]="customInputValue"
                    [placeholder]="locationLabel"
                    required
                  />
                </div>
              </div>
              <div class="d-flex justify-content-between mt-3">
                <button class="btn btn-primary btn-prev" (click)="verticalWizardPrevious()" rippleEffect>
                  <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                  <span class="align-middle d-sm-inline-block d-none">Anterior</span>
                </button>
                <button 
                  class="btn btn-primary btn-next" 
                  (click)="verticalWizardNext()" 
                  rippleEffect
                  [disabled]="!isUbicacionValid()"
                >
                  <span class="align-middle d-sm-inline-block d-none">Siguiente</span>
                  <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                </button>
              </div>
            </div>
          </div>
          <!-- Div Detalles -->
          <div id="social-links-vertical" class="content">
            <div class="content-header">
              <h5 class="mb-0">Detalles</h5>
              <small>Detalles de la denuncia.</small>
            </div>
            <div class="col-12">
              <p>Por favor seleccione alguna de las siguientes opciones:</p>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="dateOptions"
                  id="specificDateOption"
                  value="date"
                  [(ngModel)]="datereport"
                /><span style="color: #F44336;">*</span>
                <label class="form-check-label" for="specificDateOption">Fecha específica</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="dateOptions"
                  id="approximateDateOption"
                  value="dateaprox"
                  [(ngModel)]="datereport"
                /><span style="color: #F44336;">*</span>
                <label class="form-check-label" for="approximateDateOption">Periodo aproximado</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="dateOptions"
                  id="noDateOption"
                  value="NA"
                  [(ngModel)]="datereport"
                />
                <label class="form-check-label" for="noDateOption">No cuento con fecha</label>
              </div>
              <div *ngIf="datereport === 'date'" class="form-group mt-3">
                <label for="specificDate">Seleccione la fecha específica:</label>
                <input
                  class="form-control"
                  type="date"
                  id="specificDate"
                  [(ngModel)]="specificDate"
                  [max]="today"
                  required
                />
              </div>
              <div *ngIf="datereport === 'dateaprox'" class="form-group mt-3">
                <label for="approximateDatePeriod">Periodo aproximado:</label>
                <input
                  type="text"
                  id="approximateDatePeriod"
                  class="form-control"
                  placeholder="Ejemplo: Mayo-Junio 2023"
                  [(ngModel)]="approximateDatePeriod"
                  required
                />
              </div>
            </div>
            <div class="col-12 mt-3">
              <p><strong>¿Cuentas con alguna evidencia? Sube tus archivos a continuación:</strong></p>
              <p style="font-size: small;">Por favor, sube únicamente las evidencias más relevantes y concluyentes para tu caso. Ten en cuenta que el límite permitido es de 5 archivos o 25 MB en total. Selecciona cuidadosamente los documentos que respalden de manera efectiva tu denuncia </p>
              <div class="custom-file">
                <input
                  type="file"
                  id="file-upload-multiple"
                  class="custom-file-input"
                  (change)="onFileSelect($event)"
                  multiple
                />
                <label class="custom-file-label" for="file-upload-multiple">
                  {{ uploader.queue.length > 0 ? 'Archivos seleccionados' : 'Seleccionar archivos' }}
                </label>
              </div>
              <p style="font-size: xx-small;"><strong>Formatos de archivos admitidos: PDF, WORD, JPG, PNG, MP3, MPEG, MP4 </strong></p>
              <div *ngIf="uploader.queue.length > 0" class="mt-3">
                <h6>Archivos en fila:</h6>
                <ul class="list-group">
                  <li *ngFor="let item of uploader.queue" class="list-group-item d-flex justify-content-between align-items-center">
                    {{ item.file.name }} - {{ item.file.size / 1024 | number: '1.0-2' }} KB
                    <span *ngIf="item.isUploading" class="badge badge-primary">Subiendo...</span>
                    <span *ngIf="item.isSuccess" class="badge badge-success">Subido</span>
                    <span *ngIf="item.isCancel" class="badge badge-warning">Cancelado</span>
                    <span *ngIf="item.isError" class="badge badge-danger">Error</span>
                  </li>
                </ul>
                <div class="progress mt-2">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    [style.width.%]="uploader.progress"
                    aria-valuenow="{{ uploader.progress }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    {{ uploader.progress }}%
                  </div>
                </div>
              </div><br><br>
            </div>
            <div class="d-flex justify-content-between bottom:0">
              <button class="btn btn-primary btn-prev" (click)="verticalWizardPrevious()" rippleEffect>
                <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                <span class="align-middle d-sm-inline-block d-none">Anterior</span>
              </button>
              <button class="btn btn-primary btn-next" (click)="verticalWizardNext()" rippleEffect>
                <span class="align-middle d-sm-inline-block d-none">Siguiente</span>
                <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
              </button>
            </div>
          </div>
          <!-- Div Involucrados -->
          <div id="section_involved" class="content">
            <div class="content-header d-flex flex-column align-items-start">
              <div class="d-flex">
                <h5 class="mb-0 mr-3">Involucrados</h5>
                <button class="btn btn-sm btn-primary mr-2" (click)="addInvolved()">
                  <i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-sm btn-danger" [disabled]="involvedList.length <= 1" (click)="removeInvolved()">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
              <small class="mr-3"><br> Porfavor introduzca los datos de el(los) involucrado(s). Los campos puesto y número de empleado son completamente opcionales. </small>
            </div>
            <div *ngFor="let person of involvedList; let i = index" class="row">
              <div class="form-group col-md-4">
                <label class="form-label" for="name-{{ i }}">Nombre Completo:</label><span style="color: #F44336;">*</span>
                <input
                  type="text"
                  id="name-{{ i }}"
                  class="form-control"
                  placeholder="Nombre(s) Apellido Paterno Apellido Materno"
                  [(ngModel)]="person.name"
                  required
                />
              </div>
              <div class="form-group col-md-4">
                <label class="form-label" for="position-{{ i }}">Puesto:</label>
                <input
                  type="text"
                  id="position-{{ i }}"
                  class="form-control"
                  placeholder="Ej. Operador"
                  [(ngModel)]="person.position"
                />
              </div>
              <div class="form-group col-md-4">
                <label class="form-label" for="employee_number-{{ i }}">Número de empleado:</label>
                <input
                  type="text"
                  id="employee_number-{{ i }}"
                  class="form-control"
                  placeholder="112233"
                  [(ngModel)]="person.employee_number"
                />
              </div>
            </div>
            <br />
            <div class="content-header d-flex flex-column align-items-start">
              <h5 class="mb-0">Testigos</h5><br>
              <div class="d-flex">
                <button class="btn btn-sm btn-primary mr-2" (click)="addWitness()">
                  <i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-sm btn-danger" (click)="removeWitness()">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div *ngFor="let witness of witnessList; let i = index" class="row">
              <div class="form-group col-md-4">
                <label class="form-label" for="witness-name-{{ i }}">Nombre Completo:</label><span style="color: #F44336;">*</span>
                <input
                  type="text"
                  id="witness-name-{{ i }}"
                  class="form-control"
                  placeholder="Nombre(s) Apellido Paterno Apellido Materno"
                  [(ngModel)]="witness.name"
                />
              </div>
              <div class="form-group col-md-4">
                <label class="form-label" for="witness-contact-{{ i }}">Puesto:</label>
                <input
                  type="text"
                  id="witness-contact-{{ i }}"
                  class="form-control"
                  placeholder="Ej. Operador"
                  [(ngModel)]="witness.contact"
                />
              </div>
              <div class="form-group col-md-4">
                <label class="form-label" for="witness-contact-{{ i }}">Número de empleado:</label>
                <input
                  type="number"
                  id="witness-contact-{{ i }}"
                  class="form-control"
                  placeholder="445566"
                  [(ngModel)]="witness.contact"
                />
              </div>
            </div>
            <br />
            <div class="d-flex justify-content-between pb-1">
              <button class="btn btn-primary btn-prev" (click)="verticalWizardPrevious()" rippleEffect>
                <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                <span class="align-middle d-sm-inline-block d-none">Anterior</span>
              </button>
              <button class="btn btn-primary btn-next" (click)="verticalWizardNext()" rippleEffect>
                <span class="align-middle d-sm-inline-block d-none">Siguiente</span>
                <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
              </button>
            </div>
          </div>
          <!-- Div Anonimo -->
          <div id="section_anonimo" class="content">
            <div class="content-header">
              <h5 class="mb-0">Privacidad</h5>
              <small>¿Desea agregar su información?</small>
            </div>
            <input
              class="input"
              type="radio"
              id="radio-opc-no"
              name="anonimo"
              value="si"
              (change)="toggleAnonimato(true)"
              required
            />
            Si, deseo agregar mis datos.<br /><br />
            <input
              class="input"
              type="radio"
              id="radio-opc-si"
              name="anonimo"
              value="no"
              (change)="toggleAnonimato(false)"
              required
            />
            No<br /><br />
            <div *ngIf="showAdditionalInfo">
              <h5>Información Adicional </h5>
              <label style="font-size: small;">
                <strong style="color: red;">IMPORTANTE: </strong>Su informacion será únicamente solicitada para el
                seguimiento de su denuncia, será tratada con máxima confidencialidad.
              </label><br /><br />
              <div class="row">
                <div class="form-group col-md-4">
                  <label class="form-label" for="vertical-address">Nombre Completo:</label><span style="color: #F44336;">*</span>
                  <input
                    type="text"
                    id="vertical-address"
                    class="form-control"
                    placeholder="Nombre(s) Apellido Paterno Apellido Materno"
                  />
                </div>
                <div class="form-group col-md-4">
                  <label class="form-label" for="vertical-landmark">Puesto:</label><span style="color: #F44336;">*</span>
                  <input type="text" id="vertical-landmark" class="form-control" placeholder="Operador" />
                </div>
                <div class="form-group col-md-4">
                  <label class="form-label" for="pincode2">Número de empleado:</label><span style="color: #F44336;">*</span>
                  <input type="text" id="pincode2" class="form-control" placeholder="658921" />
                </div>
              </div>
              <br />
              <div class="row">
                <div class="form-group col-md-4">
                  <label class="form-label" for="vertical-address">Teléfono:</label><span style="color: #F44336;">*</span>
                  <input
                    type="text"
                    id="vertical-address"
                    class="form-control"
                    placeholder="3334357534"
                  />
                </div>
                <div class="form-group col-md-4">
                  <label class="form-label" for="vertical-landmark">Email personal:</label><span style="color: #F44336;">*</span>
                  <input type="text" id="vertical-landmark" class="form-control" placeholder="ejemplo@mail.com" />
                </div>
              </div>
              <br />
            </div>
            <div class="d-flex justify-content-between pb-0">
              <button class="btn btn-primary btn-prev" (click)="verticalWizardPrevious()" rippleEffect>
                <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                <span class="align-middle d-sm-inline-block d-none">Anterior</span>
              </button>
              <button class="btn btn-success btn-submit" rippleEffect (click)="onSubmit()">Enviar</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Vertical Wizard -->
  </div>
</div>