<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row">
      <div class="col-12">
        <section id="faq-search-filter">
          <div class="card faq-search" style="position: relative; height: 20vh; background-image: url('assets/images/banner/banner.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.7);"></div>
          </div>
        </section>
      </div>
    </div>

    <div class="row mx-2">
      <div class="col-md-6 d-flex align-items-stretch">
        <div class="card w-100 d-flex flex-column p-3 justify-content-between">
          <div class="card-header">
            <h4 class="card-title text-primary">Bienvenid@ al portal Denuncia Protegida</h4>
            <p>
              Esta plataforma ha sido creada para que todos los colaboradores puedan reportar cualquier acto o conducta no alineada a las políticas, código de conducta, reglamento interno del trabajo y legislación vigente.
              <br><br>¿Tienes alguna otra duda? No dudes en consultar nuestra sección de
              <a [routerLink]="'/forms/faq'" class="text-primary">preguntas frecuentes.</a> 
            </p>
          </div>
          
          <div class="mt-auto mb-3 text-center" *ngIf="!isLoggedIn">
            <a class="btn btn-primary" routerLink="/forms/form-wizard">Crea tu denuncia ahora</a>
          </div>
          <div class="mt-auto mb-3 text-center" *ngIf="isCapturista">
            <a class="btn btn-primary" routerLink="/forms/form-capt">Crea tu denuncia ahora</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 d-flex align-items-stretch">
        <div class="card w-100 d-flex flex-column p-3 justify-content-between">
          <div class="card-header">
            <h4 class="card-title text-primary">¿Deseas consultar un estatus?</h4>
            <p>Haz click en el siguiente botón, te redireccionará a una página para consultar el estatus de tu folio.</p>
            <img src="assets/images/icons/indeximage.png" alt="Imagen descriptiva" class="img-fluid mb-3 w-25 mx-auto">
          </div>
          <div class="mt-auto mb-3 text-center">
            <a class="btn btn-primary" routerLink="/pages/pricing">Consultar ahora</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
