<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row">
      <!-- Sección del banner -->
      <div class="col-12">
        <section id="faq-search-filter">
          <div class="card faq-search" style="position: relative; height: 20vh; background-image: url('assets/images/banner/banner.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.7);"></div>
          </div>
        </section>
      </div>
    </div>

    <div class="row ml-4 mr-2">
      <!-- Primera Tarjeta -->
      <div class="col-md-6 d-flex justify-content-center row ">
        <div class="card w-100 d-flex flex-column">
          <div class="card-header">
            <h4 class="card-title text-primary justify-content-center">Bienvenid@ al portal Denuncia Protegida</h4>
            <p>
              <br>
              Esta plataforma ha sido creada para que todos los colaboradores puedan reportar cualquier acto o conducta no alineada a las políticas, código de conducta, reglamento interno del trabajo y legislación vigente.
              <br><br>¿Tienes alguna otra duda? No dudes en consultar nuestra sección de
              <a href="pages/faq" class="text-primary">preguntas frecuentes.</a>
            </p>
          </div>
          <div class="mt-5 text-center">
            <button class="btn btn-primary" [routerLink]="'/forms/form-wizard'">Crea tu denuncia ahora</button>
          </div>
        </div>
      </div>

      <!-- Segunda Tarjeta -->
      <div class="col-md-6 d-flex ml-2">
        <div class="card w-100 d-flex flex-column">
          <div class="card-header text-center">
            <div class="d-flex justify-content-center row">
              <h4 class="card-title text-primary">¿Deseas consultar un estatus?</h4><br>
              <p><br>Haz click en el siguiente botón, te redireccionará a una página para<br> consultar  el estatus de tu folio.</p>
              <img src="assets/images/icons/indeximage.png" alt="Imagen descriptiva" class="img-fluid mb-1 w-25">
            </div>
          </div>
          <div class="mb-5 text-center">
            <button class="btn btn-primary" [routerLink]="'/pages/pricing'">Consultalo aquí</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
