<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- page denuncia view start -->
    <section class="app-denuncia-view">

      <!-- Denuncia Info Section and Denuncia Status Section in a Row -->
      <div class="row">
        <div class="col-md-6">
          <div class="card denuncia-card">
            <div class="card-body">
              <h5 class="text-primary">Información de la Denuncia</h5>
              <div class="d-flex flex-wrap my-50">
                <span class="card-text font-weight-bold mb-0"><strong>Folio: </strong>{{data.folio}}</span>
              </div>
              <hr>

              <!-- Denuncia Details -->
              <div class="denuncia-details">
                <div class="d-flex flex-wrap my-50">
                  <div class="denuncia-info-title">
                    <i data-feather="flag" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0"><strong>Medio de
                        denuncia:</strong> {{data.id_via}}</span>
                  </div>
                </div>

                <div class="d-flex flex-wrap my-50">
                  <div class="denuncia-info-title">
                    <i data-feather="check" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0"><strong>Tipo de denuncia:
                      </strong> {{data.id_reason}}</span>
                  </div>
                </div>

                <div class="d-flex flex-wrap my-50">
                  <div class="denuncia-info-title">
                    <i data-feather="map-pin" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0"><strong>Ubicación:
                      </strong>{{data.id_location}}
                    </span>
                  </div>
                </div>

                <div class="d-flex flex-wrap my-50">
                  <div class="denuncia-info-title">
                    <i data-feather="calendar" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0"><strong>Fecha del suceso:
                      </strong> {{data.date}}
                    </span>
                  </div>
                </div>

                <div class="d-flex flex-wrap my-50">
                  <div class="denuncia-info-title">
                    <i data-feather="info" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0"><strong>Descripción del incidente:
                      </strong></span><br>
                  </div>
                  <p class="card-text mb-0">{{data.description}}</p>
                </div>
              </div>
              <!-- End Denuncia Details -->

            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card denuncia-card">
            <div class="card-body">
              <h5 class="text-primary">Estado de la Denuncia</h5>
              <hr>
              <!-- Current Status -->
              <div class="d-flex flex-wrap my-50">
                <div class="denuncia-info-title">
                  <i data-feather="alert-circle" class="mr-1"></i>
                  <span class="card-text denuncia-info-title font-weight-bold mb-0">Estatus actual:
                  </span><strong>{{data.status}}</strong>
                </div>
              </div>

              <!-- Previous Report Status -->
              <div class="d-flex flex-wrap my-50">
                <div class="denuncia-info-title">
                  <i data-feather="file-text" class="mr-1"></i>
                  <span class="card-text denuncia-info-title font-weight-bold mb-0">¿Se ha reportado
                    previamente?</span><br>
                </div>
                <p class="card-text mb-0">No</p>
              </div>

              <div class="d-flex flex-wrap my-50">
                <div class="denuncia-info-title">
                  <i data-feather="info" class="mr-1"></i>
                  <span class="card-text denuncia-info-title font-weight-bold mb-0"><strong>Descripción del reporte:
                    </strong></span><br>
                </div>
                <p class="card-text mb-0">No Aplica</p>
              </div>


            </div>
          </div>
        </div>
      </div>
      <!-- End Denuncia Info Section and Denuncia Status Section -->

      <!-- Archivos Adjuntos and Estatus Change Sections in Row -->
      <div class="row">
        <!-- Archivos Adjuntos Section -->
        <div class="col-md-6">
          <div class="card denuncia-card">
            <div class="card-body">
              <h5 class="text-primary">Archivos Adjuntos</h5>
              <hr>

              <!-- Displaying files -->
              <div class="file-list">
                <div class="file-item d-flex justify-content-between align-items-center my-2">
                  <a href="#" class="file-name text-truncate">Archivo1.pdf</a>
                  <button class="btn btn-link btn-sm">Ver</button>
                </div>

                <div class="file-item d-flex justify-content-between align-items-center my-2">
                  <a href="#" class="file-name text-truncate">Imagen2.jpg</a>
                  <button class="btn btn-link btn-sm">Ver</button>
                </div>

                <div class="file-item d-flex justify-content-between align-items-center my-2">
                  <a href="#" class="file-name text-truncate">Documento3.png</a>
                  <button class="btn btn-link btn-sm">Ver</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Estatus Change Section -->
        <div class="col-md-6">
          <div class="card denuncia-card">
            <div class="card-body">
              <h5 class="text-primary">Cambio de Estatus</h5>
              <hr>
              <!-- Listbox to change the status of the denuncia -->
              <form [formGroup]="statusForm" (ngSubmit)="actualizarStatus()">
                <div class="d-flex flex-wrap my-50">
                  <div class="denuncia-info-title">
                    <i data-feather="settings" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0">Cambiar Estatus de la Denuncia:
                    </span>
                  </div>
                  <div>
                    <select class="custom-listbox" id="denunciaStatus" formControlName="status">
                      <option value="2">Abierto</option>
                      <option value="3">Cerrado</option>
                      <option value="1">En proceso</option>
                    </select>
                  </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                  <button type="button" class="btn btn-secondary mr-2" id="cancelBtn"
                    [routerLink]="['/tables/datatables']">Cancelar</button>
                  <button type="submit" class="btn btn-primary" id="saveBtn">Guardar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Archivos Adjuntos and Estatus Change Sections -->

    </section>
    <!-- page denuncia view end -->
  </div>
</div>