<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section class="app-denuncia-view">

      <div class="row">
        <div class="col-md-6">
          <div class="card denuncia-card">
            <div class="card-body">
              <h5 class="text-primary">Información de la Denuncia</h5>
              <div class="d-flex flex-wrap my-50">
                <span class="card-text font-weight-bold mb-0">
                  <strong>Folio: </strong>{{ data.folio }}
                </span>
              </div>
              <hr>
              <div class="denuncia-details">
                <div class="d-flex flex-wrap my-50">
                  <div class="denuncia-info-title">
                    <i data-feather="flag" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0">
                      <strong>Medio de denuncia:</strong> {{ getMedio(data.id_via) || "No aplica" }}
                    </span>
                  </div>
                </div>

                <div class="d-flex flex-wrap my-50">
                  <div class="denuncia-info-title">
                    <i data-feather="flag" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0">
                      <strong>Información del medio:</strong> {{ data.via_detail || "No aplica" }}
                    </span>
                  </div>
                </div>

                <div class="d-flex flex-wrap my-50">
                  <div class="denuncia-info-title">
                    <i data-feather="check" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0">
                      <strong>Tipo de denuncia:</strong> {{ getreason(data.id_reason) }}
                    </span>
                  </div>
                </div>

                <div class="d-flex flex-wrap my-50">
                  <div class="denuncia-info-title">
                    <i data-feather="calendar" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0">
                      <strong>Fecha del suceso:</strong> {{ data.date || "No aplica" }}
                    </span>
                  </div>
                </div>

                <div class="d-flex flex-wrap my-50">
                  <div class="denuncia-info-title">
                    <i data-feather="calendar" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0">
                      <strong>Periodo aproximado:</strong> {{ data.period || "No aplica" }}
                    </span>
                  </div>
                </div><br>

                <div class="d-flex flex-wrap my-50">
                  <div class="denuncia-info-title">
                    <i data-feather="info" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0">
                      <strong>Descripción del incidente:</strong> {{ data.description }}
                    </span>
                  </div>
                </div><br>

                <div class="d-flex flex-wrap my-50">
                  <div class="denuncia-info-title">
                    <i data-feather="info" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0">
                      <strong>Descripción del reporte previo: </strong>{{data.reported  || "No existe reporte previo"}}
                    </span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card denuncia-card">
            <div class="card-body">
              <h5 class="text-primary">Estado de la Denuncia</h5>
              <hr>
    
              <div class="d-flex flex-wrap my-50">
                <div class="denuncia-info-title">
                  <i data-feather="alert-circle" class="mr-1"></i>
                  <span class="card-text denuncia-info-title font-weight-bold mb-0">
                    Estatus actual: </span>
                  {{ getStatusString(data.status) }}
                </div>
              </div>

              <div class="d-flex flex-wrap my-50">
                <div class="denuncia-info-title">
                  <i data-feather="calendar" class="mr-1"></i>
                  <span class="card-text denuncia-info-title font-weight-bold mb-0">
                    <strong>Ultimo cambio de estatus por: </strong> {{ data.employee_number_user_updated || "No aplica" }}
                  </span>
                </div>
              </div>

              <div class="d-flex flex-wrap my-50">
                <div class="denuncia-info-title">
                  <i data-feather="calendar" class="mr-1"></i>
                  <span class="card-text denuncia-info-title font-weight-bold mb-0">
                    <strong>Cerrada por: </strong> {{ data.employee_number_user_closed || "No aplica" }}
                  </span>
                </div>
              </div><br>


              <div class="d-flex flex-wrap my-50">
                <div class="denuncia-info-title">
                  <i data-feather="calendar" class="mr-1"></i>
                  <span class="card-text denuncia-info-title font-weight-bold mb-0">
                    <strong>Fecha de creación:</strong> {{ data.created_date }}
                  </span>
                </div>
              </div>

              <div class="d-flex flex-wrap my-50">
                <div class="denuncia-info-title">
                  <i data-feather="calendar" class="mr-1"></i>
                  <span class="card-text denuncia-info-title font-weight-bold mb-0">
                    <strong>Fecha de modificación:</strong> {{ data.updated_date }}
                  </span>
                </div>
              </div>

              <div class="d-flex flex-wrap my-50">
                <div class="denuncia-info-title">
                  <i data-feather="calendar" class="mr-1"></i>
                  <span class="card-text denuncia-info-title font-weight-bold mb-0">
                    <strong>Fecha de cierre:</strong> {{ data.closed_date }}
                  </span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card denuncia-card">
            <div class="card-body">
              <h5 class="text-primary">Implicados</h5>
              <hr>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Puesto</th>
                      <th>Número de empleado</th>
                      <th>Área</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let implicado of implicados">
                      <td>{{ implicado.name }}</td>
                      <td>{{ implicado.position }}</td>
                      <td>{{ implicado.employee_number }}</td>
                      <td>{{ getDepartment (implicado.id_department)}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="card denuncia-card">
            <div class="card-body">
              <h5 class="text-primary">Testigos</h5>
              <hr>


              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Puesto</th>
                      <th>Número de empleado</th>
                      <th>Área</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let testigo of testigos">
                      <td>{{ testigo.name }}</td>
                      <td>{{ testigo.position }}</td>
                      <td>{{ testigo.employee_number }}</td>
                      <td>{{ getDepartment (testigo.id_department)}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card denuncia-card">
            <div class="card-body">
              <h5 class="text-primary">Información del Solicitante</h5>
              <hr>
              <div class="applicant-info">
                <div class="d-flex flex-wrap my-50">
                  <div class="denuncia-info-title">
                    <i data-feather="map-pin" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0">
                      <strong>Ubicación:</strong> {{ getLocation(data.id_location) }}
                    </span>
                  </div>
                </div>

                <div class="d-flex flex-wrap my-50" *ngIf="row && row.length > 0">
                  <div class="denuncia-info-title">
                    <i data-feather="user" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0">
                      <strong>Nombre: </strong>{{ row[0].name }}
                    </span>
                  </div>
                </div>

                <div class="d-flex flex-wrap my-50" *ngIf="row && row.length > 0">
                  <div class="denuncia-info-title">
                    <i data-feather="mail" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0">
                      <strong>Correo Electrónico: </strong>{{ row[0].email }}
                    </span>
                  </div>
                </div>

                <div class="d-flex flex-wrap my-50" *ngIf="row && row.length > 0">
                  <div class="denuncia-info-title">
                    <i data-feather="phone" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0">
                      <strong>Teléfono: </strong>{{ row[0].phone }}
                    </span>
                  </div>
                </div>

                <div class="d-flex flex-wrap my-50" *ngIf="row && row.length > 0">
                  <div class="denuncia-info-title">
                    <i data-feather="map-pin" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0">
                      <strong>Número de empleado: </strong>{{ row[0].employee_number }}
                    </span>
                  </div>
                </div>

                <div class="d-flex flex-wrap my-50" *ngIf="row && row.length > 0">
                  <div class="denuncia-info-title">
                    <i data-feather="map-pin" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0">
                      <strong>Puesto: </strong>{{ row[0].position }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card denuncia-card">
            <div class="card-body">
              <h5 class="text-primary">Archivos Adjuntos</h5>
              <hr>
              <div class="file-list">
                <div class="file-item d-flex justify-content-between align-items-center my-2"
                  *ngFor="let file of files">
                  <label class="file-name text-truncate">
                    {{ file.file_name }}
                  </label>
                  <button class="btn btn-link btn-sm" (click)="viewFile(file)">Ver</button>
                </div>
                <div *ngIf="!files || files.length === 0">
                  No hay archivos adjuntos.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="previewURL" class="modal fade show" tabindex="-1" style="
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050; /* Asegura que se superponga al resto del contenido */
  ">
          <div class="modal-dialog modal-xl" style="width: 80vw; height: 80vh; max-width: 100%; max-height: 100%;">
            <div class="modal-content" style="width: 100%; height: 100%;">
       
              <div class="modal-header">
                <h5 class="modal-title">{{ selectedFileName }}</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closePreview()"></button>
              </div>

              <div class="modal-body" style="height: calc(100% - 60px); overflow: auto;">
                <iframe *ngIf="selectedFileName?.toLowerCase().endsWith('.pdf')" [src]="previewURL"
                  style="width: 100%; height: 100%;" frameborder="0"></iframe>

                <img *ngIf="selectedFileName?.toLowerCase().endsWith('.jpg') 
               || selectedFileName?.toLowerCase().endsWith('.jpeg') 
               || selectedFileName?.toLowerCase().endsWith('.png')" [src]="previewURL" alt="Vista previa de la imagen"
                  style="max-width: 100%; max-height: 100%; object-fit: contain;" />

                <div *ngIf="!selectedFileName?.toLowerCase().endsWith('.pdf') 
               && !selectedFileName?.toLowerCase().endsWith('.jpg') 
               && !selectedFileName?.toLowerCase().endsWith('.jpeg') 
               && !selectedFileName?.toLowerCase().endsWith('.png')">
                  <p>Archivo no soportado para vista previa. Puedes descargarlo aquí:</p>
                  <a [href]="previewURL" [download]="selectedFileName" class="btn btn-primary">
                    Descargar
                  </a>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closePreview()">Cerrar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card denuncia-card">
            <div class="card-body">
              <h5 class="text-primary">Cambio de Estatus</h5>
              <hr>

              <form [formGroup]="statusForm" (ngSubmit)="actualizarStatus()">
                <div class="d-flex flex-wrap my-50">
                  <div class="denuncia-info-title">
                    <i data-feather="settings" class="mr-1"></i>
                    <span class="card-text denuncia-info-title font-weight-bold mb-0 p-2">
                      Cambiar Estatus de la Denuncia:
                    </span>
                  </div>
                  <div>
                    <select class="form-control" id="denunciaStatus" formControlName="status">
                      <option [ngValue]="1">Registrado</option>
                      <option [ngValue]="2">En proceso</option>
                      <option [ngValue]="3">Finalizado</option>
                      <option [ngValue]="4">Rechazado</option>
                    </select>
                  </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                  <button type="button" class="btn btn-secondary mr-2" routerLink="/tables/datatables">
                    Cancelar
                  </button>
                  <button type="submit" class="btn btn-primary">
                    Guardar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>