<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
    <!-- Login v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <a href="javascript:void(0);" class="brand-logo">
          <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
          <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2>
        </a>

        <h4 class="card-title mb-1">Bienvenid@ al portal 👋</h4>
        <p class="card-text mb-2">Porfavor introduce tu número de empleado y contraseña para acceder.</p>

        <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="login-email" class="form-label">Número de empleado:</label>
            <input
              type="number"
              formControlName="employeenumber"
              class="form-control"
              placeholder="333333"
              aria-describedby="login-email"
              tabindex="1"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.employeenumber.errors }"
            />
            <div *ngIf="submitted && f.employeenumber.errors" class="invalid-feedback">
              <div *ngIf="f.employeenumber.errors.required">Número de empleado es un campo obligatorio.</div>
              <div *ngIf="f.employeenumber.errors.email">Número de empleado debe ser un campo válido.</div>
            </div>
          </div>

          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="login-password">Contraseña:</label>
              <a routerLink="/pages/authentication/forgot-password-v1">
                <small>¿Ha olvidado la contraseña?</small>
              </a>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                [type]="passwordTextType ? 'text' : 'password'"
                formControlName="password"
                class="form-control form-control-merge"
                tabindex="2"
                placeholder="·········"
                aria-describedby="login-password"
                [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
              />

              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                    (click)="togglePasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.password.errors }"
            >
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
          <button class="btn btn-primary btn-block" tabindex="4" rippleEffect>Entrar</button>
        </form>
      </div>
    </div>
    <!-- /Login v1 -->
  </div>
</div>
