<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section id="ngx-datatable-kitchen-sink">
      <core-card-snippet [snippetCode]="_snippetCodeKitchenSink">
        <h3 class="card-title text-primary mb-1">Denuncia Protegida</h3>
        <div class="row align-items-center mb-0 ml-4">
          <div class="col-md-4 col-12">
            <div class="form-group mb-0 d-flex align-items-center">
              <label for="recordsToShow" class="mb-0 mr-1">Mostrar</label>
              <select
              id="recordsToShow"
              class="form-control w-auto"
              [(ngModel)]="tableLimit" 
              (change)="onLimitChange()"  
            >
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
              <span class="ml-1">solicitudes</span>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="form-group mb-0 d-flex align-items-center">
              <label for="filterStatus" class="mb-0 mr-1">Filtro por Estatus:</label>
              <select
                id="filterStatus"
                class="form-control w-50"
                [(ngModel)]="filters.Status"
                (change)="onFilterChange()"
              >
                <option value="">Todos</option>
                <option value="1">Registrado</option>
                <option value="2">En proceso</option>
                <option value="3">Finalizado</option>
                <option value="4">Rechazado</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="form-group mb-0 d-flex align-items-center">
              <label for="searchFolio" class="mb-0 mr-1">Búsqueda por folio:</label>
              <div class="input-group w-auto">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="feather icon-search"></i>
                  </span>
                </div>
                <input
                  id="searchFolio"
                  type="text"
                  class="form-control"
                  [(ngModel)]="filters.Folio"
                  (input)="onFilterChange()"
                  placeholder="Buscar por folio..."
                  (keypress)="numberOnly($event)"
                />
              </div>
            </div>
          </div>
        </div>
        <br /><br />
        <div class="p-2">
          <ngx-datatable  [rows]="filteredRows" [rowHeight]="58" class="bootstrap core-bootstrap"
            [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
            [selectionType]="SelectionType.checkbox" [limit]="tableLimit" (activate)="onActivate($event)"
            (select)="onSelect($event)">
            <ngx-datatable-column name="ID" prop="id" [sortable]="true" [draggable]="false" [resizeable]="false"
              [width]="50" [canAutoResize]="false"></ngx-datatable-column>

            <ngx-datatable-column name="Motivo" [width]="500" [draggable]="false" [resizeable]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{
                row.id_reason === 1 ? 'Abuso de autoridad'
                : row.id_reason === 2 ? 'Acoso laboral'
                : row.id_reason === 3 ? 'Acoso Sexual'
                : row.id_reason === 4 ? 'Apropiación y uso indebido de activos o recursos'
                : row.id_reason === 5 ? 'Condiciones inseguras'
                : row.id_reason === 6 ? 'Conflicto de interés'
                : row.id_reason === 7 ? 'Corrupción, soborno o extorsión'
                : row.id_reason === 8 ? 'Desvío de recursos'
                : row.id_reason === 9 ? 'Discriminación'
                : row.id_reason === 10 ? 'Fraude Financiero (Malversación de fondos, falsificación de registros, prácticas
                contables inadecuadas)'
                : row.id_reason === 11 ? 'Incumplimiento de las políticas internas'
                : row.id_reason === 12 ? 'Manipulación de inventarios'
                : ''
                }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Medio" [width]="50" [draggable]="false" [resizeable]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{
                row.id_via === 1 ? 'Teléfono'
                : row.id_via === 2 ? 'Correo'
                : 'Portal'
                }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Folio" prop="folio" [width]="50" [draggable]="false"
              [resizeable]="false"></ngx-datatable-column>

            <ngx-datatable-column name="F. creación" prop="created_date" [width]="80" [draggable]="false"
              [resizeable]="false"></ngx-datatable-column>

            <ngx-datatable-column name="F. modificación" prop="updated_date" [width]="80" [draggable]="false"
              [resizeable]="false"></ngx-datatable-column>

            <ngx-datatable-column name="F. cierre" prop="closed_date" [width]="80" [draggable]="false"
              [resizeable]="false"></ngx-datatable-column>

            <ngx-datatable-column name="Estatus" prop="status" [width]="80" [draggable]="false" [resizeable]="false">
              <ng-template let-status="value" ngx-datatable-cell-template>
                <div class="badge badge-pill" [ngClass]="{
                    'badge-light-primary': status == '1',
                    'badge-light-success': status == '2',
                    'badge-light-secondary': status == '3',
                    'badge-light-danger': status == '4'
                  }">
                  {{
                  status == 1 ? 'Registrado'
                  : status == 2 ? 'En proceso'
                  : status == 3 ? 'Finalizado'
                  : status == 4 ? 'Rechazado'
                  : ''
                  }}
                </div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Detalles" [width]="70" [sortable]="false" [canAutoResize]="true">
              <ng-template ngx-datatable-cell-template let-row="row">
                <div class="d-flex align-items-center">
                  <button class="btn btn-primary" [routerLink]="['/apps/user/user-view/', row.id]">Revisar</button>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
          <div class="d-flex justify-content-between align-items-center mt-2">
            <p> Mostrando {{ (currentPage - 1) * tableLimit + 1 }} - {{ Math.min(currentPage * tableLimit) }} de {{ totalRecords }} registros</p>
          
            <ul class="pagination">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <button class="page-link" (click)="onPageChange(currentPage - 1)">Anterior</button>
              </li>
          
              <li *ngFor="let page of [].constructor(totalPages); let i = index" class="page-item" [class.active]="currentPage === i + 1">
                <button class="page-link" (click)="onPageChange(i + 1)">{{ currentPage }}</button>
              </li>
          
              <li class="page-item" [class.disabled]="currentPage === totalPages">
                <button class="page-link" (click)="onPageChange(currentPage + 1)">Siguiente</button>
              </li>
            </ul>
          </div>
      </div>
      </core-card-snippet>
    </section>
  </div>
</div>