<div *ngIf="horizontalMenu" class="navbar-header d-xl-block d-none">
  <ul class="nav navbar-nav flex-row">
    <li class="nav-item">
      <a class="navbar-brand" [routerLink]="['/']">
        <span class="brand-logo">
          <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" width="36" />
        </span>
        <h2 class="brand-text mb-0">{{ coreConfig.app.appName }}</h2>
      </a>
    </li>
  </ul>
</div>

<div class="navbar-container d-flex content">
  <div class="bookmark-wrapper d-flex align-items-center">
    <ul class="nav navbar-nav d-xl-none" *ngIf="!coreConfig.layout.menu.hidden">
      <li class="nav-item">
        <a class="nav-link menu-toggle" (click)="toggleSidebar('menu')">
          <span [data-feather]="'menu'" [class]="'ficon'"></span>
        </a>
      </li>
    </ul>
    <h5>Bienvenid@ {{ currentUser?.employee_number || ''}}</h5>
  </div>
  <ul class="nav navbar-nav align-items-center ml-auto" >
    <li *ngIf="!isLoggedIn || (isLoggedIn && isCapturista)">
      <a class="btn mr-0" routerLink="/Inicio">Inicio</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a class="btn mr-0" routerLink="forms/form-wizard">Crear Denuncia</a>
    </li>
    <li *ngIf="!isLoggedIn || (isLoggedIn && isCapturista)">
      <a class="btn mr-0" routerLink="forms/form-capt">Crear Denuncia</a>
    </li>
    <li *ngIf="!isLoggedIn || (isLoggedIn && isCapturista)">
      <a class="btn mr-0" routerLink="pages/pricing">Consultar estatus</a>
    </li>
    <li *ngIf="!isLoggedIn || (isLoggedIn && isCapturista)">
      <a class="btn mr-0" routerLink="forms/faq">Preguntas Frecuentes</a>
    </li>
    <li *ngIf="isLoggedIn && isComite">
      <a class="btn mr-0" routerLink="pages/profile">Inicio</a>
    </li>
    <li *ngIf="isLoggedIn && isComite">
      <a class="btn mr-0" routerLink="tables/datatables">Denuncias</a>
    </li>
    <li class="nav-item d-none d-lg-block">
      <a class="nav-link nav-link-style btn" (click)="toggleDarkSkin()">
        <span [ngClass]="currentSkin === 'dark' ? 'icon-sun' : 'icon-moon'" class="ficon font-medium-5 feather"></span>
      </a>
    </li>
    <!-- Dropdown para el usuario (solo si está logueado) -->
    <li ngbDropdown class="nav-item dropdown-user" *ngIf="isLoggedIn">
      <a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
        <ng-container *ngIf="currentUser">
          <div class="user-nav d-sm-flex d-none">
            <span class="user-name font-weight-bolder">{{ currentUser.employee_number }}</span>
            <span class="user-status">{{ currentUser.role }}</span>
          </div>
          <span class="avatar">
            <img class="round" src="assets/images/icons/perfil.webp" alt="avatar" height="40" width="40" />
            <span class="avatar-status-online"></span>
          </span>
        </ng-container>
      </a>
      <div ngbDropdownMenu aria-labelledby="navbarUserDropdown" class="dropdown-menu dropdown-menu-right">
        <a ngbDropdownItem (click)="logout()"><span [data-feather]="'power'" [class]="'mr-50'"></span> Logout</a>
      </div>
    </li>
  </ul>
</div>
