<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section class="vertical-wizard">
        <h3 class="card-title text-primary">Crea tu denuncia</h3>
        <p><strong>Para poder proceder con su solicitud por favor complete el siguiente formulario.</strong></p>
        <div id="stepper2" class="bs-stepper vertical vertical-wizard-example">
          <div class="bs-stepper-header">
            <!-- Medio -->
            <div class="step" data-target="#account-details-vertical" >
              <button type="button" class="step-trigger">
                <span class="bs-stepper-box">0</span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Medio</span>
                  <span class="bs-stepper-subtitle">Añada el medio de la denuncia.</span>
                </span>
              </button>
            </div>
            <!-- Motivo -->
            <div class="step" data-target="#personal-info-vertical">
              <button type="button" class="step-trigger">
                <span class="bs-stepper-box">1</span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Motivo</span>
                  <span class="bs-stepper-subtitle">Motivo de la denuncia.</span>
                </span>
              </button>
            </div>
            <!-- Ubicación -->
            <div class="step" data-target="#address-step-vertical">
              <button type="button" class="step-trigger">
                <span class="bs-stepper-box">2</span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Ubicación</span>
                  <span class="bs-stepper-subtitle">Añada la ubicación</span>
                </span>
              </button>
            </div>
            <!-- Detalles -->
            <div class="step" data-target="#social-links-vertical">
              <button type="button" class="step-trigger">
                <span class="bs-stepper-box">3</span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Detalles</span>
                  <span class="bs-stepper-subtitle">Detalles de la denuncia.</span>
                </span>
              </button>
            </div>
            <!-- Involucrados -->
            <div class="step" data-target="#section_involved">
              <button type="button" class="step-trigger">
                <span class="bs-stepper-box">4</span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Involucrados</span>
                  <span class="bs-stepper-subtitle">Introduzca involucrados y testigos.</span>
                </span>
              </button>
            </div>
            <!-- Privacidad -->
            <div class="step" data-target="#section_anonimo">
              <button type="button" class="step-trigger">
                <span class="bs-stepper-box">5</span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Privacidad</span>
                  <span class="bs-stepper-subtitle">Información adicional.</span>
                </span>
              </button>
            </div>
          </div>
          <div class="bs-stepper-content">
                  <!-- Div Medio -->
                  <div id="account-details-vertical" class="content">
                        <form #form="ngForm">
                          <div class="content-header">
                            <h5 class="mb-0">Medio</h5>
                            <small class="text-muted">Añada el medio por el cual está realizando la denuncia.</small>
                            <span style="color: #F44336;">*</span>
                          </div>
                      
                          <div class="row">
                            <div class="form-group col-md-10">
                              <label class="form-label" for="medio">Seleccione el medio por el cual se está realizando la denuncia.</label>
                              <ng-select
                                [items]="selectMedio"
                                [multiple]="false"
                                [closeOnSelect]="true"
                                [searchable]="false"
                                bindLabel="name"
                                bindValue="id"
                                name="medio"
                                placeholder="Seleccione un medio"
                                [(ngModel)]="selectedMedio"
                                (change)="onMedioChange()"
                                [clearable]="false"
                                required
                              >
                                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                  <span class="ng-value-label">{{ item.name }}</span>
                                </ng-template>
                              </ng-select>
                              <div *ngIf="showValidation && !selectedMedio" class="text-danger mt-1">
                                Debe seleccionar un medio.
                              </div>
                            </div>
                          </div>
                      
                          <!-- Campo de Teléfono -->
                          <div *ngIf="selectedMedio === 1" class="form-group col-md-10 mt-2">
                            <label class="form-label">Número de Teléfono <span style="color: #F44336;">*</span></label>
                            <input
                              type="number"
                              class="form-control"
                              placeholder="Ingrese su número de teléfono"
                              [(ngModel)]="telefono_medio"
                              name="telefono_medio"
                              pattern="[0-9]{10}"
                              maxlength="10"
                              required
                              #telefonoInput="ngModel"
                              (input)="validatePhoneNumber()"
                            />
                            <small class="text-muted">Ingrese un número de 10 dígitos.</small>
                            <div *ngIf="telefonoInput.invalid && telefonoInput.touched" class="text-danger mt-1">
                              El número de teléfono es obligatorio y debe tener 10 dígitos.
                            </div>
                          </div>
                      
                          <!-- Campo de Correo Electrónico -->
                          <div *ngIf="selectedMedio === 2" class="form-group col-md-10 mt-2">
                            <label class="form-label">Correo Electrónico <span style="color: #F44336;">*</span></label>
                            <input
                              type="email"
                              class="form-control"
                              placeholder="Ingrese su correo electrónico"
                              [(ngModel)]="email_medio"
                              name="email_medio"
                              #emailMedioInput="ngModel"
                              pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                              required
                            />
                            <small class="text-muted">Ejemplo: usuario@correo.com</small>
                            <div *ngIf="emailMedioInput.invalid && emailMedioInput.touched" class="text-danger mt-1">
                              <span *ngIf="emailMedioInput.errors?.required">El correo electrónico es obligatorio.</span>
                              <span *ngIf="emailMedioInput.errors?.pattern">Ingrese un correo electrónico válido.</span>
                            </div>
                          </div>
                          
                        </form>
                        <br><!-- Aqui comienzan los botones de div medio -->
                        <div class="d-flex justify-content-between">
                          <button class="btn btn-outline-secondary btn-prev" disabled>
                            <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                            <span class="align-middle d-sm-inline-block d-none">Anterior</span>
                          </button>
                          <button
                            class="btn btn-primary btn-next"
                            (click)="verticalWizardNext()"
                            [disabled]="!form.valid"
                          >
                            <span class="align-middle d-sm-inline-block d-none">Siguiente</span>
                            <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                          </button>
                        </div>
                  </div>
                  <!-- Div Motivo -->
                  <div id="personal-info-vertical" class="content">
                    <form #form1="ngForm">
                      <div class="content-header">
                        <h5 class="mb-0">Motivo</h5>
                        <small>Seleccione el motivo.</small><br>
                        <small><strong>¿Qué desea denunciar?</strong> </small><span style="color: #F44336;">*</span>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-12">
                          <label class="form-label" for="selectLanguage">Seleccione el motivo</label>
                          <ng-select
                            [items]="selectMotivo"
                            [multiple]="false"
                            [closeOnSelect]="true"
                            [searchable]="false"
                            bindLabel="name"
                            [clearable]="false"
                            name="selectLanguage"
                            placeholder="Seleccione el motivo"
                            [(ngModel)]="motivo"
                            required
                            #motivoInput="ngModel"
                          >
                            <ng-template ng-label-tmp let-item="item" let-clear="clear">
                              <span class="ng-value-label">{{ item.name }}</span>
                            </ng-template>
                          </ng-select>
                          <div *ngIf="motivoInput.invalid && motivoInput.touched" class="text-danger mt-1">
                            Debe seleccionar un motivo.
                          </div>
                        </div>
                      </div>
                    </form>
                    <!-- Botones del paso 1 -->
                    <div class="d-flex justify-content-between">
                      <button class="btn btn-secondary btn-prev" disabled rippleEffect>
                        <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                        <span class="align-middle d-sm-inline-block d-none">Anterior</span>
                      </button>
                      <button
                        class="btn btn-primary btn-next"
                        (click)="verticalWizardNext()"
                        [disabled]="!form1.valid"
                        rippleEffect
                      >
                        <span class="align-middle d-sm-inline-block d-none">Siguiente</span>
                        <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                      </button>
                    </div>
                  </div>
                  <!-- Div Ubicación -->
                  <div id="address-step-vertical" class="content">
                    <form #form2="ngForm">
                      <div class="content-header">
                        <h5 class="mb-0">Ubicación</h5>
                        <small>Ubicación donde se encuentra laborando el denunciante</small>
                      </div>
                      <p><strong>Selecciona la ubicación:</strong><span style="color: #F44336;">*</span></p>
                      <div class="form-group" aria-required="true">
                        <label>
                          <input type="radio" name="ubicacion" value="corporativo" (change)="onUbicacionChange('corporativo')" [(ngModel)]="selectedUbicacion" required />
                          Corporativo
                        </label><br>
                        <label>
                          <input type="radio" name="ubicacion" value="cedis" (change)="onUbicacionChange('cedis')" [(ngModel)]="selectedUbicacion" required />
                          Cedis
                        </label><br>
                        <label>
                          <input type="radio" name="ubicacion" value="sucursales" (change)="onUbicacionChange('sucursales')" [(ngModel)]="selectedUbicacion" required />
                          Sucursales
                        </label><br>
                        <label>
                          <input type="radio" name="ubicacion" value="navesanexas" (change)="onUbicacionChange('navesanexas')" [(ngModel)]="selectedUbicacion" required />
                          Naves y anexas filiales <label style="font-size: smaller; color: gray;"> (Ingeniería, mantenimiento, fotosistemas, seguridad) </label>
                        </label><br>
                        <label>
                          <input type="radio" name="ubicacion" value="innomex" (change)="onUbicacionChange('innomex')" [(ngModel)]="selectedUbicacion" required />
                          Innomex
                        </label><br>
                        <label>
                          <input type="radio" name="ubicacion" value="trate" (change)="onUbicacionChange('trate')" [(ngModel)]="selectedUbicacion" required />
                          TRATE
                        </label><br>
                        <!-- <label>
                          <input type="radio" name="ubicacion" value="unidadtransporte" (change)="onUbicacionChange('unidadtransporte')" [(ngModel)]="selectedUbicacion" required />
                          Unidad transporte
                        </label><br> -->
                      </div>
                      <div id="ubicacionContainer" *ngIf="selectedUbicacion" class="mt-3">
                        <!-- Lista desplegable -->
                        <div *ngIf="showListbox">
                          <label>{{ locationLabel }}</label>
                          <select id="ubicacionListbox" class="form-control" [(ngModel)]="customInputValue" name="region" required>
                            <option value="" disabled selected>Seleccione una opción</option>
                            <option *ngFor="let option of listboxOptions" [value]="option">{{ option }}</option>
                          </select>
                        </div>
                        <!-- Input libre -->
                        <div *ngIf="showInputBox">
                          <label>{{ locationLabel }}</label>
                          <input
                            type="text"
                            name="input"
                            id="customInput"
                            class="form-control"
                            [(ngModel)]="customInputValuelabel"
                            [placeholder]="locationLabel"
                            required
                          />
                        </div>
                      </div>
        
                      <!-- Radios para región de transporte -->
                      <div *ngIf="selectedUbicacion === 'unidadtransporte'" class="mt-3">
                        <p><strong>Selecciona la región:</strong></p>
                        <label>
                          <input type="radio" name="regionTransporte" value="NORTE" (change)="onRegionChange('norte')" [(ngModel)]="selectedRegion" required />
                          Norte
                        </label><br>
                        <label>
                          <input type="radio" name="regionTransporte" value="CENTRO" (change)="onRegionChange('centro')" [(ngModel)]="selectedRegion" required />
                          Centro
                        </label><br>
                        <label>
                          <input type="radio" name="regionTransporte" value="SUR" (change)="onRegionChange('sur')" [(ngModel)]="selectedRegion" required />
                          Sur
                        </label><br>
                      </div>
                      <div *ngIf="showTransportInput" class="mt-3">
                        <label>Ingrese el número de la unidad de transporte:</label>
                        <input
                          type="text"
                          id="customInputValue"
                          class="form-control"
                          [(ngModel)]="value_UT"
                          placeholder="# de unidad de transporte"
                          name="input_UT"
                          required
                        />
                      </div>
                    </form>
                    <!-- Botones del paso 2 -->
                    <div class="d-flex justify-content-between mt-3">
                      <button class="btn btn-secondary btn-prev" (click)="verticalWizardPrevious()" rippleEffect>
                        <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                        <span class="align-middle d-sm-inline-block d-none">Anterior</span>
                      </button>
                      <button class="btn btn-primary btn-next" (click)="verticalWizardNext()" rippleEffect [disabled]="!form2.valid">
                        <span class="align-middle d-sm-inline-block d-none">Siguiente</span>
                        <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                      </button>
                    </div>
                  </div>
                  <!-- Div Detalles -->
                  <div id="social-links-vertical" class="content">
                    <form #form3="ngForm">
                      <div class="content-header">
                        <h5 class="mb-0">Detalles</h5>
                        <small>Detalles de la denuncia.</small>
                      </div>
                      <div class="col-12">
                        <p>Por favor seleccione alguna de las siguientes opciones:<span style="color: #F44336;">*</span></p>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="dateOptions"
                            id="specificDateOption"
                            value="date"
                            [(ngModel)]="datereport"
                            required
                          />
                          <label class="form-check-label" for="specificDateOption">Fecha específica</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="dateOptions"
                            id="approximateDateOption"
                            value="dateaprox"
                            [(ngModel)]="datereport"
                            required
                          />
                          <label class="form-check-label" for="approximateDateOption">Periodo aproximado</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="dateOptions"
                            id="noDateOption"
                            value="NA"
                            [(ngModel)]="datereport"
                            required
                          />
                          <label class="form-check-label" for="noDateOption">No cuento con fecha</label>
                        </div>
                        <div *ngIf="datereport === 'date'" class="form-group mt-3">
                          <label for="specificDate">Seleccione la fecha específica:</label><span style="color: #F44336;">*</span>
                          <input
                            class="form-control"
                            name="fecha_esp"
                            type="date"
                            id="specificDate"
                            [(ngModel)]="specificDate"
                            [max]="today"
                            required
                          />
                        </div>
                        <div *ngIf="datereport === 'dateaprox'" class="form-group mt-3">
                          <label for="approximateDatePeriod">Periodo aproximado:</label><span style="color: #F44336;">*</span>
                          <input
                            type="text"
                            name="fecha_aprox"
                            id="approximateDatePeriod"
                            class="form-control"
                            placeholder="Ejemplo: Mayo-Junio 2023"
                            [(ngModel)]="approximateDatePeriod"
                            required
                          />
                        </div>
                      </div>
                  
                      <div class="col-12 mt-3">
                        <label for="description"><strong>Descripción del incidente:</strong></label><span style="color: #F44336;">*</span><br>
                        <label for="description" style="font-size: small;">
                          Por favor, sea lo más específico posible en su denuncia. Incluya detalles sobre el lugar, el motivo y cómo ocurrió el incidente.
                        </label><br>
                        <textarea
                          id="description"
                          name="description"
                          class="form-control"
                          rows="5"
                          placeholder="Por favor, proporciona una descripción detallada de la denuncia."
                          [(ngModel)]="description"
                          required
                        ></textarea>
                      </div>
                  
                      <div class="col-12 mt-3">
                        <p><strong>¿Ha reportado el incidente anteriormente?<span style="color: #F44336;">*</span></strong></p>
        
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="previousReport"
                            id="previousReportYes"
                            value="true"
                            [(ngModel)]="previousReport"
                            required
                          />
                          <label class="form-check-label" for="previousReportYes">Sí</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="previousReport2"
                            id="previousReportNo"
                            value="false"
                            [(ngModel)]="previousReport"
                            required
                          />
                          <label class="form-check-label" for="previousReportNo">No</label>
                        </div>
                        <div *ngIf="previousReport === 'true'" class="form-group mt-3">
                          <label for="previousReportDetails">Por favor indique a quién lo reportó y cuál fue el resultado (si lo sabe) a continuación:</label><span style="color: #F44336;">*</span>
                          <textarea
                            id="previousReportDetails"
                            name="previousReportDetails"
                            class="form-control"
                            rows="3"
                            placeholder="Describa cuándo y cómo reportó el incidente anteriormente."
                            [(ngModel)]="previousReportDetails"
                            required
                          ></textarea>
                        </div>
                      </div>
                      
                      <!-- Sección de evidencia -->
                      <div class="col-12 mt-3">
                        <p><strong>¿Cuentas con alguna evidencia? Sube tus archivos a continuación:</strong></p>
                        <p style="font-size: small;">Por favor, sube únicamente las evidencias más relevantes y concluyentes para tu caso. Ten en cuenta que el límite permitido es de 5 archivos o 25 MB en total. Selecciona cuidadosamente los documentos que respalden de manera efectiva tu denuncia.</p>
                        <div class="custom-file">
                          <input
                            type="file"
                            id="file-upload-multiple"
                            class="custom-file-input"
                            (change)="onFileSelect($event)"
                            multiple
                          />
                          <label class="custom-file-label" for="file-upload-multiple">
                            {{ uploader.queue.length > 0 ? 'Archivos seleccionados' : 'Seleccionar archivos' }}
                          </label>
                        </div>
                        <!-- Cola de archivos -->
                        <div *ngIf="uploader.queue.length > 0" class="mt-2">
                          <h6>Archivos en fila:</h6>
                          <ul class="list-group">
                            <li *ngFor="let fileItem of uploader.queue" class="list-group-item d-flex justify-content-between align-items-center">
                              {{ fileItem.file.name }} ({{ fileItem.file.size | number }} bytes)
                              <button type="button" class="btn btn-sm btn-danger" (click)="fileItem.remove()">Eliminar</button>
                            </li>
                          </ul>
                        </div>
                        <p style="font-size: xx-small;"><strong>Formatos de archivos admitidos: PDF, WORD, JPG, PNG, MP3, MPEG, MP4</strong></p>
                      </div>
                    </form>
                  
                    <div class="d-flex justify-content-between mt-3">
                      <button class="btn btn-primary btn-prev" (click)="verticalWizardPrevious()" rippleEffect>
                        <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                        <span class="align-middle d-sm-inline-block d-none">Anterior</span>
                      </button>
                      <button class="btn btn-primary btn-next" (click)="verticalWizardNext()" rippleEffect [disabled]="!form3.valid">
                        <span class="align-middle d-sm-inline-block d-none">Siguiente</span>
                        <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                      </button>
                    </div>
                  </div>
                  <!-- Div Involucrados -->
                  <div id="section_involved" class="content">
                    <form #form4="ngForm">
                      <div class="content-header d-flex flex-column align-items-start">
                        <div class="d-flex">
                          <h5 class="mb-0 mr-3">Involucrados</h5>
                          <button class="btn btn-sm btn-primary mr-2" (click)="addInvolved()">
                            <i class="fa fa-plus"></i>
                          </button>
                          <button class="btn btn-sm btn-danger" [disabled]="involvedList.length <= 1" (click)="removeInvolved()">
                            <i class="fa fa-minus"></i>
                          </button>
                        </div>
                        <small class="mr-3">
                          <br>Por favor introduzca los datos de el(los) involucrado(s). Los campos puesto y número de empleado son opcionales.
                        </small>
                      </div>
                      <div *ngFor="let person of involvedList; let i = index" class="row">
                        <div class="form-group col-md-3">
                          <label class="form-label" for="name-{{ i }}">Nombre Completo:</label><span style="color: #F44336;">*</span>
                          <input
                            type="text"
                            id="name-{{ i }}"
                            name="nombre_inv"
                            class="form-control"
                            placeholder="Nombre(s) Apellido Paterno Apellido Materno"
                            [(ngModel)]="person.name_inv"
                            required
                          />
                        </div>
                        <div class="form-group col-md-3">
                          <label class="form-label" for="position-{{ i }}">Puesto:</label>
                          <input
                            type="text"
                            name="puesto_inv"
                            id="position-{{ i }}"
                            class="form-control"
                            placeholder="Ej. Operador"
                            [(ngModel)]="person.position_inv"
                          />
                        </div>


                        <div class="form-group col-md-3">
                          <label class="form-label" for="employee_number-{{ i }}">Número de empleado:</label>
                          <input
                            type="text"
                            name="nempleado_inv_{{i}}"
                            id="employee_number-{{ i }}"
                            class="form-control"
                            placeholder="11223300"
                            [(ngModel)]="person.employee_number_inv"
                            #invemployee_numberInput="ngModel"
                            pattern="^\d{0,8}$"
                            maxlength="8"
                            (input)="trimEmployeeNumber($event, i)"
                            (keypress)="numberOnly($event)"
                          />
                          <div *ngIf="invemployee_numberInput.invalid && (invemployee_numberInput.touched || invemployee_numberInput.dirty)" class="text-danger mt-1">
                            <span *ngIf="invemployee_numberInput.errors?.pattern">
                              Solo se permiten hasta 8 dígitos numéricos.
                            </span>
                          </div>
                        </div>
                        
                        
                        <div class="form-group col-md-3">
                          <label>Área a la que pertenece:</label>
                          <ng-select
                            [items]="selectArea"
                            [multiple]="false"
                            [closeOnSelect]="true"
                            [searchable]="false"
                            bindLabel="name"
                            bindValue="id"
                            [clearable]="false"
                            name="selectareainv"
                            placeholder="Seleccione el área"
                            [(ngModel)]="person.area_inv"
                            
                          >
                            <ng-template ng-label-tmp let-item="item" let-clear="clear">
                              <span class="ng-value-label">{{ item.name }}</span>
                            </ng-template>
                          </ng-select> 
                        </div>
                      </div>
                      <br />
                      <div class="content-header d-flex flex align-items-start">
                        <h5 class="mb-0 ml-1 mr-2">Testigos</h5><br>
                        <div class="d-flex">
                          <button class="btn btn-sm btn-primary mr-2" (click)="addWitness()">
                            <i class="fa fa-plus"></i>
                          </button>
                          <button class="btn btn-sm btn-danger" (click)="removeWitness()">
                            <i class="fa fa-minus"></i>
                          </button>
                        </div>
                      </div>
                      <small class="ml-1">
                        En caso de existir algun testigo(s) por favor introduzca los datos de el(los) testigo(s). Los campos puesto y número de empleado son opcionales. De lo contrario porfavor presione el boton "-" para eliminar los campos de información de testigo.<br>
                      </small>
                      <div *ngFor="let witness of witnessList; let i = index" class="row"> 
                        <div class="form-group col-md-3">
                          <label class="form-label" for="witness-name-{{ i }}">Nombre Completo:</label><span style="color: #F44336;">*</span>
                          <input
                            type="text"
                            name="nombre_tes"
                            id="witness-name-{{ i }}"
                            class="form-control"
                            placeholder="Nombre(s) Apellido Paterno Apellido Materno"
                            [(ngModel)]="witness.name_wit"
                            required
                          />
                        </div>
                        <div class="form-group col-md-3">
                          <label class="form-label" for="witness-contact-{{ i }}">Puesto:</label>
                          <input
                            type="text"
                            name="puesto_tes"
                            id="witness-contact-{{ i }}"
                            class="form-control"
                            placeholder="Ej. Operador"
                            [(ngModel)]="witness.position_wit"
                          />
                        </div>
                        <div class="form-group col-md-3">
                          <label class="form-label" for="witness-employee_number-{{ i }}">Número de empleado:</label>
                          <input
                            type="text"
                            name="nempleado_tes_{{ i }}"
                            id="witness-employee_number-{{ i }}"
                            class="form-control"
                            placeholder="44556655"
                            [(ngModel)]="witness.employee_number_wit"
                            #witemployee_numberInput="ngModel"
                            pattern="^\d{0,8}$"
                            maxlength="8"
                            (input)="trimEmployeeNumber($event, i, 'witness')"
                            (keypress)="numberOnly($event)"
                          />
                          <div *ngIf="witemployee_numberInput.invalid && (witemployee_numberInput.touched || witemployee_numberInput.dirty)" class="text-danger mt-1">
                            <span *ngIf="witemployee_numberInput.errors?.pattern">
                              Solo se permiten hasta 8 dígitos numéricos.
                            </span>
                          </div>
                        </div>
                        
                        <div class="form-group col-md-3">
                          <label>Área a la que pertenece:</label>
                            <ng-select
                              [items]="selectArea"
                              [multiple]="false"
                              [closeOnSelect]="true"
                              [searchable]="false"
                              bindValue="id"
                              bindLabel="name"
                              [clearable]="false"
        
                              name="selectareawit"
                              placeholder="Seleccione el área"
                              [(ngModel)]="witness.area_wit"
                            >
                            <ng-template ng-label-tmp let-item="item" let-clear="clear">
                              <span class="ng-value-label">{{ item.name }}</span>
                            </ng-template>
                          </ng-select> 
                        </div>
                      </div>
                    </form>
                    <!-- Botones del paso 4 -->
                    <div class="d-flex justify-content-between mt-3">
                      <button class="btn btn-secondary btn-prev" (click)="verticalWizardPrevious()" rippleEffect>
                        <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                        <span class="align-middle d-sm-inline-block d-none">Anterior</span>
                      </button>
                      <button class="btn btn-primary btn-next" (click)="verticalWizardNext()" rippleEffect [disabled]="!form4.valid">
                        <span class="align-middle d-sm-inline-block d-none">Siguiente</span>
                        <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                      </button>
                    </div>
                  </div>
                  <!-- Div Anonimo -->
                  <div id="section_anonimo" class="content">
                    <form #form5="ngForm">
                      <div class="content-header">
                        <h5 class="mb-0">Privacidad</h5>
                        <small>¿Desea agregar su información?</small>
                      </div>
                  
                      <!-- Opciones de privacidad: ambas usan el mismo "name" y valores booleanos -->
                      
                      <div class="form-group">
                        <label for="radio-opc-si">
                          <input
                            type="radio"
                            id="radio-opc-si"
                            name="isAnonymous"
                            [value]="true"
                            [(ngModel)]="isAnonymous"
                            (change)="toggleAnonimato(true)"
                            required
                          />
                          Sí, deseo agregar mis datos.
                        </label>
                      </div>
                      <div class="form-group">
                        <label for="radio-opc-no">
                          <input
                            type="radio"
                            id="radio-opc-no"
                            name="isAnonymous"
                            [value]="false"
                            [(ngModel)]="isAnonymous"
                            (change)="toggleAnonimato(false)"
                            required
                          />
                          No, no deseo agregar mis datos.
                        </label>
                      </div>
                  
                      <!-- Sección de información adicional, visible solo si showAdditionalInfo es true -->
                      <div *ngIf="showAdditionalInfo">
                        <h5>Información Adicional</h5>
                        <p style="font-size: small;">
                          <strong style="color: red;">IMPORTANTE:</strong> Su información será únicamente solicitada para el seguimiento de su denuncia y será tratada con máxima confidencialidad.
                        </p>
                  
                        <div class="row">
                          <div class="form-group col-md-4">
                            <label class="form-label" for="nombre">Nombre Completo:</label>
                            <span style="color: #F44336;">*</span>
                            <input
                              type="text"
                              id="nombre"
                              class="form-control"
                              placeholder="Nombre(s) Apellido Paterno Apellido Materno"
                              name="nombre"
                              [(ngModel)]="name"
                              required
                            />
                          </div>
                          <div class="form-group col-md-4">
                            <label class="form-label" for="puesto">Puesto:</label>
                            <span style="color: #F44336;">*</span>
                            <input
                              type="text"
                              id="puesto"
                              class="form-control"
                              placeholder="Operador"
                              name="puesto"
                              [(ngModel)]="position"
                              required
                            />
                          </div>
                          <div class="form-group col-md-4">
                            <label class="form-label" for="numeroEmpleado">Número de empleado:</label>
                            <span style="color: #F44336;">*</span>
                            <input
                              type="number"
                              id="numeroEmpleado"
                              class="form-control"
                              placeholder="658921"
                              name="numeroEmpleado"
                              [(ngModel)]="employee_number"
                              #employeeNumberInput="ngModel"
                              required
                              max="99999999"
                              (input)="employee_number = employee_number.toString().slice(0, 8)"
                            />
                            <div *ngIf="employeeNumberInput.invalid && employeeNumberInput.touched" class="text-danger mt-1">
                              <span *ngIf="employeeNumberInput.errors?.required">El número de empleado es obligatorio.</span>
                              <span *ngIf="employeeNumberInput.errors?.max">El número de empleado no debe contener más de 8 dígitos.</span>
                            </div>
                          </div>
                          
                        </div>
                        <br />
                        <div class="row">
                          <div class="form-group col-md-4">
                            <label class="form-label" for="telefono">Teléfono:</label>
                            <span style="color: #F44336;">*</span>
                            <input
                              type="text"
                              id="telefono"
                              class="form-control"
                              placeholder="3334357534"
                              name="telefono"
                              [(ngModel)]="phone"
                              #phoneInput="ngModel"
                              pattern="^[0-9]{10}$"
                              maxlength="10"
                              required
                            />
                            <div *ngIf="phoneInput.invalid && phoneInput.touched" class="text-danger mt-1">
                              El número de teléfono debe contener exactamente 10 dígitos.
                            </div>
                          </div>
                          <div class="form-group col-md-4">
                            <label class="form-label" for="email">Email personal:</label>
                            <span style="color: #F44336;">*</span>
                            <input
                              type="email"
                              id="email"
                              class="form-control"
                              placeholder="ejemplo@mail.com"
                              name="email"
                              [(ngModel)]="email"
                              #emailInput="ngModel"
                              pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                              required
                            />
                            <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger mt-1">
                              Ingrese un correo electrónico válido.
                            </div>
                          </div>
                        </div>
                        <br />
                      </div>
                    </form>
                  
                    <!-- Botones de navegación -->
                    <div class="d-flex justify-content-between pb-0">
                      <button class="btn btn-primary btn-prev" (click)="verticalWizardPrevious()" rippleEffect>
                        <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                        <span class="align-middle d-sm-inline-block d-none">Anterior</span>
                      </button>
                      <button class="btn btn-success btn-submit" rippleEffect (click)="onSubmit()" [disabled]="!form5.valid">
                        Enviar
                      </button>
                    </div>
                  </div>
          </div>
        </div>
    </section>
  </div>
</div>