<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
    <!-- Forgot Password v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <a href="javascript:void(0);" class="brand-logo">
          <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
          <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2>
        </a>

        <h4 class="card-title mb-1">¿Olvidaste tu contraseña? 🔒</h4>
        <p class="card-text mb-2">No te preocupes, introduce tu número de empleado, presiona el botón "Enviar" y se te enviará una nueva a tu correo electrónico.</p>

        <form class="auth-forgot-password-form mt-2" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="forgot-password-email" class="form-label">Introduzca su número de empleado:</label>
            <input
              type="number"
              class="form-control"
              placeholder="445566"
              formControlName="empoyeename"
              aria-describedby="forgot-password-email"
              maxlength="6"
              tabindex="1"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Número de empleado es campo obligatorio.</div>
              <div *ngIf="f.email.errors.email">Número de empleado debe ser valido.</div>
            </div>
          </div> 
          <button class="btn btn-primary btn-block" tabindex="2" rippleEffect>Enviar</button>
        </form>

        <p class="text-center mt-2">
          <a routerLink="/pages/authentication/login-v1">
            <i data-feather="chevron-left" class="mb-25"></i> Volver
          </a>
        </p>
      </div>
    </div>
    <!-- /Forgot Password v1 -->
  </div>
</div>
