<!-- Footer -->
<p class="clearfix mb-0" style="color: white;">
  <!-- Contenedor principal de todo el footer alineado a la derecha -->
  <span class="float-right d-block col-md-12 mt-12" style="background-color: #008CBA; padding-left: 200px;">
    <p style="font-size:11px; color: white; margin-bottom: 10px;"><strong><br>Políticas de denuncias</strong></p>
    <nav style="font-size: 9px; color: white;">
      <a>Política 1</a><br>
      <a>Política 2</a><br>
      <a>Política 3</a><br>
      <a>Política 4</a><br>
    </nav><br>
    <div class="footer-info" style="font-size: 9px;">
      COPYRIGHT &copy; {{ year }}
      <a class="mr-25" target="_blank">Denuncia Protegida</a>
      <span class="d-none d-sm-inline-block">All rights Reserved</span>
    </div>
  </span>
</p>
<!--/ Footer -->

<!-- Move to top Button-->
<app-scroll-top *ngIf="coreConfig.layout.scrollTop"></app-scroll-top>

