<!-- Footer -->
<p class="clearfix mb-0" style="color: white;">
  <!-- Contenedor principal de todo el footer alineado a la derecha -->
  <span class="float-right d-block col-md-12 mt-12" style="background-color: #008CBA; padding-left: 200px;">
    <p style="font-size:11px; color: white; margin-bottom: 10px;">
      <strong><br>Políticas de denuncias</strong>
    </p>
    <nav style="font-size: 9px; color: white;">
      <!-- Utilizamos routerLink y fragment para navegar a la página de policies y a un fragmento específico -->
      <small  fragment="politica2" style="color: white; text-decoration: none;">Consulta el detalle de tus politicas en el portal documental corporativo.</small><br>
      
      <label fragment="politica1" style="color: white; text-decoration: none; font-size: xx-small;">PLT-COR-COR-004 Código de Ética</label><br>
      <label fragment="politica1" style="color: white; text-decoration: none;  font-size: xx-small;">PLT-COR-COR-006 Reglamento de Conducta </label><br>
      <label fragment="politica1" style="color: white; text-decoration: none;  font-size: xx-small;">PLT-COR-COR-007 Conflicto de Intereses</label><br>
      <label fragment="politica1" style="color: white; text-decoration: none;  font-size: xx-small;">PLT-COR-COR-011 Uso de Instalaciones Corporativas</label><br>
      <label fragment="politica1" style="color: white; text-decoration: none;  font-size: xx-small;">PLT-COR-COR-012 Jornada Laboral Corporativa</label><br>
      <label fragment="politica1" style="color: white; text-decoration: none;  font-size: xx-small;">PLT-COR-COR-003 Código de Vestimenta</label><br>
      <label fragment="politica1" style="color: white; text-decoration: none;  font-size: xx-small;">PLT-COR-COR-005 Uso de Sala de Juntas</label><br><br>
      <a routerLink="/pages/miscellaneous/policies" fragment="politica1" style="color: white; text-decoration: none;">Políticas de privacidad</a><br>
      
    </nav>
    <br>
    <div class="footer-info" style="font-size: 9px;">
      COPYRIGHT &copy; {{ year }}
      <a class="mr-25" target="_blank" style="color: white; text-decoration: none;">Denuncia Protegida</a>
      <span class="d-none d-sm-inline-block">All rights Reserved</span>
    </div>
  </span>
</p>
<!--/ Footer -->

<!-- Move to top Button-->
<app-scroll-top *ngIf="coreConfig.layout.scrollTop"></app-scroll-top>
